
{% set uniqueId = "id_6039be78-fc3e-4221-b55a-16642981e405" %}
{% if general_settings.background_fixed %}
{% set backgroundFixed = 'fixed' %}
{% else %}
{% set backgroundFixed = 'scroll' %}
{% endif %}
{% if general_settings.background_type == 'color' %}
{% set backgroundColor = 'background-color: ' ~  general_settings.background_color ~  ';' %}
{% else %}
{% set backgroundColor = '' %}
{% endif %}
{% if general_settings.background_type == 'image' %}
{% set backgroundImage = 'background-image: url(' ~  general_settings.background_image ~  ');background-attachment: ' ~  backgroundFixed ~  ';background-size: ' ~  general_settings.background_size ~  ';' %}
{% else %}
{% set backgroundImage = '' %}
{% endif %}
{% set sectionPadding = 'padding-top: ' ~  general_settings.padding.top ~  'px;padding-right: ' ~  general_settings.padding.right ~  'px;padding-bottom: ' ~  general_settings.padding.bottom ~  'px;padding-left: ' ~  general_settings.padding.left ~  'px;' %}

<section data-id="categories" class="veda-section" css="{{ backgroundColor }}{{ backgroundImage }}{{ sectionPadding }}">
  {% if general_settings.background_overlay_enable %}
    <div class="pos:absolute ins:0 z:-1" css="background-color: {{ general_settings.background_overlay_color }}"></div>
  {% endif %}
  <div class="container">
    <h3 class="ff:font-primary ta:center mb:25px fz:pfs(25px,40px) fw:500" css="{{ heading.design }}">{{ heading.text }}</h3>
    <div class="row">
      {% for item in category | slice(0, 8) %}
        <div component="category" class="col-xs-{{column.xs}} col-sm-{{column.sm}} col-md-{{column.md}} col-lg-{{column.lg}}">
          <div class="yasmina-category pos:relative w:100% ov:hidden z:2 cur:pointer" component="category">
            <a href="#" class="w:100% ar:1.43">
              <img class="trf:scale(1.1)*yasmina-category-hover z:-1 w:100% trs:all_0.3s" src={{item.background_image}} alt="category">
              <div class="yasmina-category__title pos:absolute t:50% l:50% trf:translate(-50%,-50%) c:color-light-freeze fw:600 fz:17px tt:uppercase ta:center z:9 tt:uppercase fit-content w:100%">{{item.label}}</div>
            </a>
            <div class="yasmina-overlay pos:absolute t:0 l:0 bgc:color-dark op:0 w:100% h:100% trs:all_0.5s z:999"></div>
          </div>
        </div>
      

{% endfor %}


    </div>
  </div>
</section>
