
{% set uniqueId = "id_617941d0-2bc9-428f-bc17-a41e5ccbe647" %}
{% set backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% set backgroundColor = general_settings.background_color_enable ? 'background-color:' ~  general_settings.color ~  ';' : '' %}
{% set backgroundImage = general_settings.background_image_enable ? 'background-image: url(' ~  general_settings.image ~ 
');background-attachment:' ~  backgroundFixed ~  ';background-size:' ~  general_settings.size ~  ';' : '' %}
{% set builderMode = true %}

<section data-id="categories" class="veda-section" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="core-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container">
    <div class="row">
      <h3 class="page-section__header" css="{{ heading.design }}">{{ heading.text }}</h3>
      <div class="col-md-12">
        <div component="content" class="row row-cols-lg-{{ content.column.lg }} row-cols-md-3 row-cols-sm-2 row-cols-1">
          {% set collection = collections[content.collection] %}
          {% for cate in content.images | slice(0, 8) %}
            <div class="col">
              <div class="vdoan-category pos:relative w:100% h:210px ov:hidden z:2 cur:pointer">
                <a href="#"><img class="pos:absolute t:0 l:0 z:-1 w:100% h:100% trs:all_0.3s" src={{cate.url}} alt="category"></a>
                <div class="vdoan-category__title pos:absolute t:50% l:50% trf:translate(-50%,-50%) c:color-light w:100% fw:700 fz:17px tt:uppercase ta:center z:9">{{cate.title}}</div>
                <div class="vdoan-overlay bgc:color-dark op:0.3 w:100% h:100% v:hidden"></div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
