{% assign backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% assign backgroundColor = general_settings.background_color_enable ? 'background-color:' | append: general_settings.color | append: ';' : '' %}
{% assign backgroundImage = general_settings.background_image_enable ? 'background-image: url(' | append: general_settings.image | append:
');background-attachment:' | append: backgroundFixed | append: ';background-size:' | append: general_settings.size | append: ';' : '' %}


<section data-id="categories" class="veda-section pb:10px" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="veda-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container">
    <div class="row">
      <h3 class="page-section__header ff:font-primary ta:center mb:25px fz:40px fw:700" css="{{ heading.design }}">{{ heading.text }}</h3>
      <div class="col-md-12">
        <div component="content" class="row row-cols-lg-{{ content.column.lg }} row-cols-md-3 row-cols-sm-2 row-cols-1">
          {% assign collection = collections[content.collection] %}
          {% for cate in content.images limit: 8 %}
            <div class="col">
              <div class="yasmina-category pos:relative w:100% h:210px ov:hidden z:2 cur:pointer">
                <a href="#"><img class="pos:absolute t:0 l:0 z:-1 w:100% h:100% trs:all_0.3s" src={{cate.url}} alt="category"></a>
                <div class="yasmina-category__title pos:absolute t:50% l:50% trf:translate(-50%,-50%) c:color-light-freeze w:100% fw:700 fz:17px tt:uppercase ta:center z:9">{{cate.title}}</div>
                <div class="yasmina-overlay bgc:color-dark op:0 w:100% h:100% trs:all_0.5s"></div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
