
{% set uniqueId = "id_b5f2f594-c079-4bb3-839f-b7e07f6f8bb1" %}
{% set backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% set backgroundColor = general_settings.background_color_enable ? 'background-color:' ~  general_settings.color ~  ';' : '' %}
{% set backgroundImage = general_settings.background_image_enable ? 'background-image: url(' ~  general_settings.image ~ 
');background-attachment:' ~  backgroundFixed ~  ';background-size:' ~  general_settings.size ~  ';' : '' %}


<section data-id="bestseller" class="veda-section" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="core-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container">
    <h3 class="page-section__header" css="{{ heading.design }}">{{ heading.text }}</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="row row-cols-lg-{{ content.column.lg }} row-cols-md-3 row-cols-sm-2 row-cols-1" component="content">
          {% set collection = collections[content.collection] %}

          {% for product in collection.products | slice(0, 4) %}
            <div class="product-card">
              <div class="product-card__img">
                <div class="pet-product-card__image">
                  <a href="#" class="core-image-cover d:block" css="--aspect-ratio: 3/4">
                    <img src="{{ product.featured_image.src | img_url('400x')}}" alt="{{ product.title }}">
                  </a>
                </div>
                <div class="product-card__add">
                  <a href="#">{{content.add_to_cart_text}}</a>
                </div>
                <div class="product-card__state">
                  {% if product.compare_at_price > product.price and content.sale.enable %}
                    <div class="product-card__sale">
                      <p>{{ content.sale.text }}</p>
                    </div>
                  {% endif %}
                </div>
                <div class="product-card__status">
                  <div class="product-card__icon-bg" data-tooltip="Add to wishlist" data-tooltip-position="left">
                    <i class="far fa-heart"></i>
                  </div>
                  <div class="product-card__icon-bg--hidden" data-tooltip="Quick view" data-tooltip-position="left">
                    <i class="far fa-eye"></i>
                  </div>
                  <div class="product-card__icon-bg--hidden" data-tooltip="Compare to other products" data-tooltip-position="left">
                    <i class="fas fa-compress"></i>
                  </div>
                </div>
              </div>


              <div class="product-card__content">
                <div class="product-card__brand">{{product.vendor}}</div>
                <a class="product-card__name" href="#">{{product.title}}</a>
                <a class="product-card__price" href="#">
                  <ins class="product-card__cost">${{ product.price }}</ins>
                  {% if product.compare_at_price > product.price %}
                    <del class="product-card__cost--before">${{ product.compare_at_price }}</del>
                  {% endif %}
                </a>
                <div class="product-card__color">
                  <div class="circle__active--yellow"></div>
                  <div class="circle--blue"></div>
                  <div class="circle--violet"></div>
                  <div class="circle--plus">+1</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- <button class="vdoan-btn__primary" style="margin-top: 30px;margin-bottom: 70px;">LOAD MORE</button> -->
  </div>
</section>
