
{% set uniqueId = "id_4cc72496-68b1-4e23-8936-e2624da717f4" %}
{% set backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% set backgroundColor = general_settings.background_color_enable ? 'background-color:' ~  general_settings.color ~  ';' : '' %}
{% set backgroundImage = general_settings.background_image_enable ? 'background-image: url(' ~  general_settings.image ~ 
');background-attachment:' ~  backgroundFixed ~  ';background-size:' ~  general_settings.size ~  ';' : '' %}

<section data-id="giftsection" class="p:0px_60px" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="veda-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container">
    <div class="row mt:0px">
      {% for item in content %}
        <div class="col-xs-12 col-sm-6 col-md-16 col-lg-3 mt:0px">
          <div class="yasmina-gift d:flex h:84px jc:center ai:center fw:500" component="gift">
            <a class="cur:pointer w:100% c:color-dark fz:17px fw:500" href="#"><i class="{{item.icon}} pr:15px fz:23px fw:400"></i><span>{{item.name}}</span></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
