
{% set uniqueId = "id_f4b9cf12-2e6e-455b-aa3c-72caca060eb4" %}
{% set backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% set backgroundColor = general_settings.background_color_enable ? 'background-color:' ~  general_settings.color ~  ';' : '' %}
{% set backgroundImage = general_settings.background_image_enable ? 'background-image: url(' ~  general_settings.image ~ 
');background-attachment:' ~  backgroundFixed ~  ';background-size:' ~  general_settings.size ~  ';' : '' %}


<section data-id="bestseller" class="pt:80px" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="veda-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container pb:40px">
    <h3 class="page-section__header ff:font-primary ta:center mb:45px fz:40px fw:700" css="{{ heading.design }}">{{ heading.text }}</h3>
    <div class="row">
      {% set collection = collections[content.collection] %}
      <script class="product-all-data" type="application/json">{{ collection.products | json_encode()}}</script>
      {% for product in collection.products | slice(0, 4) %}
        <div class="col-lg-3 mt:0px!">
          <div class="product-card d:flex fld:column ai:center ta:center mb:15px pb:15px">
            <script class="product-card__data" type="application/json">{{ product | json_encode()}}</script>
            <div class="product-card__img w:100% pos:relative ov:hidden">
              <div class="pet-product-card__image">
                <a href="#" class="veda-image-cover d:block" css="--aspect-ratio: 3/4">
                  <img class="product-card__image" src="{{ product.featured_image.src | img_url('400x')}}" alt="{{ product.title }}">
                </a>
              </div>
              <div class="product-card__add-content pos:absolute b:0 l:0 w:100% bgc:color-dark h:50px trf:translateY(50px) trs:all_0.3s ta:center lts:0.15px fw:600 fz:17px">
                <a class="product-card__add cur:pointer fz:17px pos:absolute td:none w:100% h:100% va:middle lh:50px t:50% l:50% trf:translate(-50%,-50%) c:color-light">{{content.add_to_cart_text}}</a>
              </div>
              <div class="product-card__state pos:absolute t:5px l:5px d:flex">
                {% if product.compare_at_price > product.price and content.sale.enable %}
                  <div class="product-card__sale d:flex jc:center ai:center w:60px h:30px bgc:#219653 mr:5px bdrs:2px">
                    <p class="fz:16px pos:absolute z:10 fw:600 c:color-light">{{ content.sale.text }}</p>
                  </div>
                {% endif %}
              </div>
              <div class="product-card__status pos:absolute t:10px r:10px w:35px h:127px">
                <div class="product-card__icon-bg cur:pointer bgc:color-dark!|h c:color-light!|h" data-tooltip="Add to wishlist" data-tooltip-position="left" data-tooltip-active="false" data-tooltip-text="Add to wishlist" data-tooltip-active-text="Remove from wishlist">
                  <i class="fal fa-heart"></i>
                </div>
                <div class="product-card__icon-bg--hidden cur:pointer bgc:color-dark!|h c:color-light!|h" data-tooltip="Quick view" data-tooltip-position="left" >
                  <i class="fal fa-eye"></i>
                </div>
                <div class="product-card__icon-bg--hidden cur:pointer bgc:color-dark!|h c:color-light!|h" data-tooltip="Compare to other products" data-tooltip-position="left" data-tooltip-active="false" data-tooltip-text="Add to compare" data-tooltip-active-text="Remove from compare">
                  <i class="fal fa-repeat"></i>
                </div>
              </div>
            </div>


            <div class="product-card__content d:flex fld:column jc:center ai:center">
              <div class="product-card__brand c:color-gray5 mt:11px fz:14px">{{product.vendor}}</div>
              <a class="product-card__name fz:16px mt:15px c:color-dark" href="/pageproduct.html">{{product.title}}</a>
              <a class="product-card__price mt:14px" href="#">
                <ins class="product-card__cost fw:500 fz:15px c:color-primary td:none">${{ product.price }}</ins>
                {% if product.compare_at_price > product.price %}
                  <del class="product-card__cost--before fw:500 fz:15px c:#9E9E9E">${{ product.compare_at_price }}</del>
                {% endif %}
              </a>

              <div class="product-card__color d:flex">
                <div class="yasmina-circle__active w:32px h:32px bdrs:16px m:10px_6px_0px_6px cur:pointer p:3px bgcp:content-box bgc:#FFD860 bd:1px_solid_color-dark"></div>
                <div class="yasmina-circle w:32px h:32px bdrs:16px m:10px_6px_0px_6px cur:pointer p:3px bgcp:content-box bgc:#C3DEE4 bd:1px_solid_color-gray2"></div>
                <div class="yasmina-circle w:32px h:32px bdrs:16px m:10px_6px_0px_6px cur:pointer p:3px bgcp:content-box bgc:#8667DE bd:1px_solid_color-gray2"></div>
                <div class="yasmina-circle--plus w:32px h:32px bdrs:16px m:10px_6px_0px_6px cur:pointer p:3px bgcp:content-box fw:600 fz:16px color:color-dark">+1</div>
                </div>

            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</section>
<section class="bgc:#F2F2F7 h:300px d:flex fld:column ai:center jc:center ta:center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 d:flex fld:column ai:center jc:center ta:center">
         <h2 class="fz:35px mb:25px ff:font-primary fw:500">Sign-up for LogoNews</h2>
         <p class="fz:15px mb:10px ff:font-secondary fw:400">Stay informed about the latest style advice and product launches.<br/> Learn more about our emails and our Privacy Policy.</p>
         <div class="d:flex ai:center jc:center ta:center">
          <input class="h:40px w:283px! bdrs:0px!" type="text" placeholder="Email address">
          <button class="vdoan-btn__primary h:40px p:10px_20px_10px_20px ml:10px bgc:color-dark c:color-light fz:12px ff:font-primary fw:700 bd:1px_solid_color-dark bdrs:0px">SUBSCRIBE</button>
         </div>
      </div>
    </div>
  </div>
</section>
