{% liquid
  if general_settings.background_fixed assign backgroundFixed = 'fixed' else assign backgroundFixed = 'scroll' endif
  if general_settings.background_type == 'color' assign backgroundColor = 'background-color: ' | append: general_settings.background_color | append: ';' else assign backgroundColor = '' endif
  if general_settings.background_type == 'image' assign backgroundImage = 'background-image: url(' | append: general_settings.background_image | append:
  ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: general_settings.background_size | append: ';' else assign backgroundImage = '' endif
  assign sectionPadding = 'padding-top: ' | append: general_settings.padding.top | append: 'px;padding-right: ' | append: general_settings.padding.right | append: 'px;padding-bottom: ' | append: general_settings.padding.bottom | append: 'px;padding-left: ' | append: general_settings.padding.left | append: 'px;'
%}

<nav data-id="menu" class="nav" id="nav" css="{{ backgroundColor }}{{ backgroundImage }}{{ sectionPadding }}">
  {% if general_settings.background_overlay_enable %}
    <div class="pos:absolute ins:0 z:-1" css="background-color: {{ general_settings.background_overlay_color }}"></div>
  {% endif %}
  <div class="container d:flex ai:center jc:space-between maw:100% p:0">
      <div class="h:60px! ovy:hidden">
        <div class="ovx:auto h:80px">
          <ul class="yasmina-menu d:flex ai:center m:0 p:0 h:60px list-style:none pl:15px!@md">
            {% for item in navigation %}
              <li class="yasmina-menu__list d:inline-block bdr:1px_solid_color-light">
                <a href={{item.link}} class="yasmina-menu__link--primary w:100% pl:15px pr:15px fz:17px fw:800 cur:pointer c:color-light whs:nowrap tt:uppercase">{{item.label}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div>
        <div class="yasmina-menu__option h:100% d:flex jc:flex-end ai:center c:color-light fz:20px pr:15px pr:30px@md">
          <a href="/login.html"><i class="fal fa-user ml:10px mr:10px cur:pointer c:color-light"></i></a>
          <span class="veda-compare__popup pos:relative cur:pointer" data-options="{
            content: ['Product', 'Rating', 'Description', 'Abd'],
            header: {
              title: 'Compare',
              description: 'Compare description1',
            },
          }">
            <i class="fal fa-repeat ml:10px mr:10px cur:pointer c:color-light"></i>
            <div class="menu__card-compare veda-compare__badge d:flex jc:center ai:center c:color-light pos:absolute b:50% l:80% w:16px h:16px fz:9px bdrs:8px bgc:red fw:500"></div>
          </span>
          <a href="/wishlist.html" class="pos:relative c:color-light|h! c:color-light!" style="color:var(--color-light)">
            <i class="fal fa-heart ml:10px mr:10px cur:pointer c:color-light c:color-light|h!"></i>
            <div class="veda-wishlist__badge d:flex jc:center ai:center c:color-light pos:absolute b:50% l:80% w:16px h:16px fz:9px bdrs:8px bgc:red fw:500 c:color-light!"></div>
          </a>
          <span class="veda-cart__popup pos:relative">
            <i class="fal fa-shopping-bag ml:10px mr:10px cur:pointer c:color-light"></i>
            <div class="veda-cart__badge d:flex jc:center ai:center c:color-light pos:absolute b:50% l:80% w:16px h:16px fz:9px bdrs:8px bgc:red fw:500"></div>
          </span>
        </div>
      </div>

  </div>
</nav>
