{% liquid
  if general_settings.background_fixed assign backgroundFixed = 'fixed' else assign backgroundFixed = 'scroll' endif
  if general_settings.background_type == 'color' assign backgroundColor = 'background-color: ' | append: general_settings.background_color | append: ';' else assign backgroundColor = '' endif
  if general_settings.background_type == 'image' assign backgroundImage = 'background-image: url(' | append: general_settings.background_image | append:
  ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: general_settings.background_size | append: ';' else assign backgroundImage = '' endif
  assign sectionPadding = 'padding-top: ' | append: general_settings.padding.top | append: 'px;padding-right: ' | append: general_settings.padding.right | append: 'px;padding-bottom: ' | append: general_settings.padding.bottom | append: 'px;padding-left: ' | append: general_settings.padding.left | append: 'px;'
%}


<section data-id="pageproduct" css="{{ backgroundColor }}{{ backgroundImage }}{{ sectionPadding }}">
  {% if general_settings.background_overlay_enable %}
    <div class="pos:absolute ins:0 z:-1" css="background-color: {{ general_settings.background_overlay_color }}"></div>
  {% endif %}
  <div class="container pt:35px">
    {% assign comment = blogs[content.collection] %}
    {% assign product = product1 %}
    <div class="direct fz:15px c:color-gray4 mb:33px ff:font-primary fw:400">
      {% unless request.page_type == 'index' or request.page_type == 'list-collections' %}
        <nav role="navigation" aria-label="breadcrumbs">
            <a href="{{ routes.root_url }}" title="Home">Home</a>
            {% if request.page_type contains 'page' %}
              <span aria-hidden="true">/</span>
              <span>{{ page.title }}</span>
            {% elsif request.page_type contains 'product' %}
              {% if collection.url %}
                <span aria-hidden="true">/</span>
                {{ collection.title | link_to: collection.url }}
              {% endif %}
              <span aria-hidden="true">/</span>
              <span>{{ product.title }}</span>
            {% elsif request.page_type contains 'collection' and collection.handle %}
              <span aria-hidden="true">/</span>
              {% if current_tags %}
                {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
                {{ collection.title | link_to: url }}
                <span aria-hidden="true">/</span>
                <span>{{ current_tags | join: " + " }}</span>
              {% else %}
                <span>{{ collection.title }}</span>
              {% endif %}
            {% elsif request.page_type == 'blog' %}
              <span aria-hidden="true">/</span>
              {% if current_tags %}
                {{ blog.title | link_to: blog.url }}
                <span aria-hidden="true">/</span>
                <span>{{ current_tags | join: " + " }}</span>
              {% else %}
                <span>{{ blog.title }}</span>
              {% endif %}
            {% elsif request.page_type == 'article' %}
              <span aria-hidden="true">/</span>
              {{ blog.title | link_to: blog.url }}
              <span aria-hidden="true">/</span>
              <span>{{ article.title }}</span>
            {% elsif request.page_type == 'cart' %}
              <span aria-hidden="true">/</span>
              <span>Cart</span>
            {% else %}
              <span aria-hidden="true">/</span>
              <span>{{ page_title }}</span>
            {% endif %}
        </nav>
      {% endunless %}
    </div>
    <div class="row">
      <div class="col-lg-6 d:flex fld:column ai:center pr:30px">
        <a href="#" class="veda-image-zoom veda-image-cover yasmina-page-product__image d:block w:100%" css="--aspect-ratio: 3/4"  data-image-zoom-src="{{ image.src }}" data-image-zoom="2">
          <img class="w:100% veda-image-cover yasmina-page-product__img" src="{{ product.featured_image.src | img_url: '900x' }}"  alt="">
        </a>
        <button class="w:490px h:60px lh:44px bgc:transparent c:color-gray9 bd:1px_solid_color-gray4 ai:center jc:center mt:35px fw:500 fz:15px maw:334px ta:center bdrs:0px! bgc:transparent!|h c:color-gray9!|h bd:1px_solid_color-gray4!|h"> <i class="far fa-question mr:10px fw:400 fz:15px bgc:transparent!|h c:color-gray9!|h bd:1px_solid_color-gray4!|h"> </i>Ask an expert</button>
      </div>
      <div class="col-lg-6">
        <div class="yasmina-page-product">
          <script class="yasmina-page-product__data" type="application/json">{{ product | json }}</script>
          <h3 class="yasmina-page-product__title fz:25px ff:font-primary c:color-dark fw:500">{{product.title}}</h3>
          <div class="d:flex ai:center mt:15px mb:16px c:color-dark fz:15px fw:300">
            {% if content.review_app_enable %}
              {% case content.review_app_type %}
                {% when 'product_reviews' %}
                  <rivio-review-badge item="product" />
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                {% when 'rivyo_reviews' %}
                  <rivio-review-badge item="product" />
                {% when 'loox_reviews' %}
                  <loox-review-badge item="product" />
                {% when 'ali_reviews' %}
                  <ali-review-badge item="product" />
                {% when 'stamped_reviews' %}
                  <stamped-review-badge item="product" />
                {% when 'judge_me_reviews' %}
                  <judge-me-review-badge item="product" />
                {% when 'other' %}
                  {% if builderMode %}
                    <review-badge item="product" />
                  {% else %}
                    {{ content.review_app_html }}
                  {% endif %}
                  {% else %}
              {% endcase %}
            {% endif %}
          </div>
          <p class="yasmina-page-product__vendor mb:16px ff:font-primary c:color-dark fz:15px fw:300">Vendor: {{product.vendor}}</p>
          <p class="yasmina-page-product__sku mb:16px ff:font-primary c:color-dark fz:15px fw:300">SKU: {{product.variants[0].sku}}</p>
          <p class="yasmina-page-product__availability mb:16px ff:font-primary c:color-dark fz:15px fw:300">Availability: {{product.variants.length}} in stock</p>
          <p class="yasmina-page-product__type mb:16px ff:font-primary c:color-dark fz:15px fw:300">Product Type: {{product.type}}</p>
          <h3 class="yasmina-page-product__price mb:25px fz:25px ff:font-primary c:color-dark fw:500">${{product.price}}.00</h3>
          <div class="yasmina-page-product__description ff:font-secondary c:color-dark fz:13px fw:300">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et...</div>
          <p class="yasmina-page-product-color mb:7px mt:29px ff:font-primary c:color-dark fz:15px fw:300">Color : {{product.options_with_values[1].selected_value}}</p>
          <div class="d:flex mb:45px">
            {% for item in product.variants %}
              {% for itemoptioncolor in product.options_with_values %}
                {% if itemoptioncolor.name == "Color" %}
                  {% if item.options[1] == itemoptioncolor.selected_value %}
                    <div class="veda-image-cover w:90px mr:10px cur:pointer" css="--aspect-ratio: 3/4">
                      <script class="yasmina-page-product-variant-data" type="application/json">{{ item | json }}</script>
                      <img class="bd:1px_solid_color-dark yasmina-page-product-image-select"  src="{{ item.image.src | img_url: '900x' }}"  alt="">
                    </div>
                  {% else %}
                    <div class="veda-image-cover w:90px mr:10px cur:pointer" css="--aspect-ratio: 3/4">
                      <script class="yasmina-page-product-variant-data" type="application/json">{{ item | json }}</script>
                      <img class="yasmina-page-product-image-select" src="{{ item.image.src | img_url: '660x' }}"  alt="">
                    </div>
                  {% endif %}
                {% endif %}
              {% endfor %}

            {% endfor %}


          </div>
          <p class="yasmina-page-product__sizes mb:7px ff:font-primary c:color-dark fz:15px fw:300">Size : {{product.options_with_values[0].selected_value}}</p>
          <div class="mb:30px d:flex">
            {% for itemoption in product.options_with_values %}
              {% if itemoption.name == "Size" %}
                  {% for item in itemoption.values %}
                    <label class="veda-radio d:flex pos:relative ai:center jc:center w:70px h:34px mr:10px ta:center cur:pointer ff:font-primary fz:15px" style="--size: 15px;--color: var(--color-gray9)">
                      <div class="veda-radio__inner">
                        <input type="radio"  data-label="{{ item }}" name="yasmina-product-page-radio-size" value="{{ item }}" class="yasmina-page-product__size-input" {% if item == itemoption.selected_value %}checked{% endif %}/>
                        <div class="veda-radio__track w:70px h:34px bdrs:0px bgc:color-gray2 bd:1px_solid_color-gray2 op:1">
                          {{ item }}
                        </div>
                      </div>
                    </label>

                  {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="d:flex ai:center">
            <input class="yasmina-page-product__quantity w:85px! h:50px bdrs:0px! ta:center fw:300 fz:15px bd:1px_solid_color-gray4" type="number" value="1" min="1">
            <button class="product-card-add-js mah:50px ml:10px mr:10px ff:font-primary bgc:color-dark bd:none! c:color-light cur:pointer fw:500 bdrs:0px! fz:15px lts:0.15px lh:50px fw:500 bdrs:0px! bgc:color-dark!|h c:color-light!|h miw:236px ta:center p:0px">ADD TO CART</button>
            <div class="wishlist-toggle-js w:50px h:50px bd:1px_solid_color-gray4 d:flex ai:center jc:center mr:10px cur:pointer bgc:color-dark|h c:red|h">
              <i class="far fa-heart fz:15px fw:400"></i>
            </div>
            <div class="w:50px h:50px bd:1px_solid_color-gray4 d:flex ai:center jc:center cur:pointer bgc:color-dark|h c:red|h">
              <i class="fas fa-share-alt fz:15px fw:400"></i>
            </div>
          </div>
          <div class="d:flex ai:center mt:20px">
            <input class="mr:10px" type="checkbox"> <p class="ff:font-primary fz:12px fw:300 c:color-dark">I Agree With The Tearms & Conditions</p>
          </div>

          <button class="w:490px h:60px lh:44px bgc:transparent c:color-gray9 bd:1px_solid_color-gray4 ai:center jc:center mt:30px fz:15px fw:500 bdrs:0px! bgc:transparent!|h c:color-gray9!|h bd:1px_solid_color-gray4!|h">BUY IT NOW</button>
          <div class="d:flex mt:20px ai:center">
            <a href="#"><i class="fas fa-eye mr:10px c:color-dark fw:400"></i></a>
            <p class="fw:300 fz:12px c:color-dark"> 250 customers are viewing this product</p>
          </div>
          <ul class="bdt:1px_solid_#DEDEE9 mt:15px pt:30px">
            <li class="fz:15px fw:300"> <i class="fas fa-check fw:900 fz:15px"></i> PICKUP AVAILABLE AT LOS ANGELES</li>
            <li class="fz:15px pl:18px mt:15px fw:300">Usually ready in 4 hours</li>
            <li class="fz:15px pl:18px mt:15px fw:300">View store info</li>
          </ul>
          <div>
            <a class="fz:15px fw:500 c:color-gray9 c:color-gray9|h!" href="#">
              <h3 class="fz:15px bdt:1px_solid_#DEDEE9 mt:30px pt:30px">
                <i class="fas fa-plus mr:15px fw:400 fz:15px"></i>
                SHIPPING & RETURNS
              </h3>
            </a>
          </div>
          <div>
            <a class="fz:15px fw:500" href="#">
              <h3 class="fz:15px bdt:1px_solid_#DEDEE9 bdb:1px_solid_#DEDEE9 mt:30px pt:30px pb:30px">
                <i class="fas fa-plus mr:15px fw:400 fz:15px"></i>
                CUSTOM PRODUCT TAB
              </h3>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="">
        <h2 class="ta:center mt:85px fz:35px mb:17px ff:font-primary c:color-dark fw:600">Description</h2>
        <p class="ta:center fz:15px mb:30px ff:font-secondary c:color-dark fw:400">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <br/>corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui <br/>officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
        </p>
      </div>
      <div class="col-lg-12 d:flex ">
        <div class="w:50% ta:center">
          <img class="w:500px h:467px" src="../../../img/pageproduct1.png" alt="">
        </div>
        <div class="d:flex fld:column jc:center ai:center w:50% ta:center">
          <h5 class="fz:15px ff:font-primary c:color-dark fw:600 mb:15px">LAMCORPER OSTIQUE AMATTIS</h5>
          <h2 class="fz:45px ff:font-primary c:color-dark fw:500 mb:10px">100% Hand-made</h2>
          <p class="fz:15px ff:font-secondary c:color-dark fw:400">Temporibus autem quibusdam et aut officiis debitis aut rerum <br/>necessitatibus saepe eveniet ut et voluptates repudiandae sint et <br/>molestiae non recusandae.</p>
        </div>
      </div>
      <div class="col-lg-12 d:flex mt:30px">
        <div class="d:flex fld:column jc:center ai:center w:50% ta:center">
          <h5 class="fz:15px ff:font-primary c:color-dark fw:600 mb:15px">LAMCORPER OSTIQUE AMATTIS</h5>
          <h2 class="fz:45px ff:font-primary c:color-dark fw:500 mb:10px">Wiloke Shop</h2>
          <p class="fz:15px ff:font-secondary c:color-dark fw:400">Temporibus autem quibusdam et aut officiis debitis aut rerum <br/>necessitatibus saepe eveniet ut et voluptates repudiandae sint et <br/>molestiae non recusandae.</p>
        </div>
        <div class="w:50% ta:center">
          <img class="w:500px h:467px" src="../../../img/pageproduct2.png" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <h2 class="ta:center fz:35px mt:90px fw:600 c:color-dark">Review({{comment.articles[0].comments.length}})</h2>
      <div class="col-lg-6 pr:100px">
        <h4 class="fz:20px fw:500 c:color-dark">{{comment.articles[0].comments.length}} REVIEW FOR TRAIL RUNNING SHOE</h4>
        {% for item in comment.articles[0].comments %}
          <div class="d:flex mt:20px mb:5px ">
            <img class="w:60px h:60px bdrs:30px" src="../../../img/insta1.png" alt="">
            <div class="ml:10px w:87%">
              <h5 class="fz:15px fw:500 c:color-dark"><a class="fz:15px fw:500 c:color-dark c:color-gray9!|h" href="#">{{item.author}}</a><span class="fz:12px c:color-gray3 fw:400"> - {{item.created_at}}</span></h5>
              <p class="fz:14px c:color-gray5 ff:font-secondary fw:400">{{item.content}}</p>
              <div class="mt:3px">
                <i class="fas fa-star c:#FFAE35 fz:15px"></i>
                <i class="fas fa-star c:#FFAE35 fz:15px"></i>
                <i class="fas fa-star c:#FFAE35 fz:15px"></i>
                <i class="fas fa-star c:#FFAE35 fz:15px"></i>
                <i class="fas fa-star c:#FFAE35 fz:15px"></i>
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="d:flex jc:flex-start mt:25px">
          <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid_color-dark bgc:color-dark c:color-light cur:pointer mr:5px fw:600">1</div>
          <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid_#DEDEE9 bgc:color-light c:color-dark cur:pointer mr:5px fw:600">2</div>
          <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid_#DEDEE9  bgc:color-light c:color-dark cur:pointer mr:5px fw:600">3</div>
          <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid_#DEDEE9  bgc:color-light c:color-dark cur:pointer mr:5px fw:600">4</div>
          <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid_#DEDEE9  bgc:color-light c:color-dark cur:pointer mr:5px"><i class="fas fa-long-arrow-right"></i></div>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="fz:20px fw:500">WRITE REVIEW</h2>
        <form action="">
          <h3 class="fz:15px mt:20px fw:500 c:color-dark ff:font-primary">NAME</h2>
          <input class="bgc:#F2F2F7! c:color-gray4 bd:none! w:641px h:50px bdrs:0px! fz:14px fw:400 fz:14px||placeholder fw:400||placeholder c:color-gray4||placeholder ff:font-primary||placeholder" type="text" name="review_name" placeholder="Enter your name">
          <h2 class="fz:15px mt:20px fw:500 c:color-dark ff:font-primary">EMAIL</h2>
          <input class="bgc:#F2F2F7! c:#929292 bd:none! w:641px h:50px bdrs:0px! fz:14px fz:14px||placeholder fw:400||placeholder c:color-gray4||placeholder ff:font-primary||placeholder" type="text" name="review_email" placeholder="wiloke@example.com">
          <h2 class="fz:15px mt:20px fw:500 c:color-dark ff:font-primary">RATING</h2>
          <div class="mt:3px">
            <i class="fas fa-star c:#C4C4C4"></i>
            <i class="fas fa-star c:#C4C4C4"></i>
            <i class="fas fa-star c:#C4C4C4"></i>
            <i class="fas fa-star c:#C4C4C4"></i>
            <i class="fas fa-star c:#C4C4C4"></i>
          </div>
          <h2 class="fz:15px mt:20px c:color-dark ff:font-primary">BODY REVIEW(1500)</h2>
          <textarea class="bgc:#F2F2F7! c:#929292 bd:none! w:641px h:119px bdrs:0px! ff:font-primary fz:14px fz:14px||placeholder fw:400||placeholder c:color-gray4||placeholder ff:font-primary||placeholder" name="review_body" id="" cols="30" rows="6" placeholder="Write your comments here"></textarea>
          <button type="submit" class="maw:236px h:52px mt:30px ml:0px bdrs:0px! fw:500 fz:15px c:color-light! bgc:color-dark! bd:1px_solid_color-dark ff:font-primary c:color-light!|h bgc:color-dark!|h bd:1px_solid_color-dark|h">SUBMIT REVIEW</button><br/>
          <input class="fl:left mt:10px ff:font-primary bd:1px_solid_color-gray4" type="checkbox"> <p class="fz:11px fl:left ml:5px mt:10px ff:font-primary fw:400 c:color-gray4">Write your comments here </p>
        </form>
      </div>
    </div>
    <div class="row jc:center pt:90px">
      <div class="col-lg-10 ta:center bgc:color-dark pt:50px pb:50px">
        <h3 class="c:color-light fz:20px fw:700 mb:24px">Sample Quote</h3>
        <p class="c:color-light fz:15px fw:400 ff:font-secondary">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores <br/>et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est <br/>laborum et dolorum fuga.</p>
      </div>
    </div>
  </div>
</section>
{% include '../../wishlist/wishlistbs/render.twig' %}
<section class="bgc:#F2F2F7 h:300px d:flex fld:column ai:center jc:center ta:center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 d:flex fld:column ai:center jc:center ta:center">
        <h2 class="fz:35px mb:25px fw:500 c:color-dark">Sign-up for LogoNews</h2>
        <p class="fz:15px mb:10px fw:400 c:color-dark">Stay informed about the latest style advice and product launches.<br/> Learn more about our emails and our Privacy Policy.</p>
        <div class="d:flex ai:center jc:center ta:center">
          <input class="h:40px w:283px! bd:none! bgc:color-light! fw:400 fz:9px ff:font-quinary c:color-gray4! bdrs:0px! bgc:color-light!|h fw:400||placeholder fz:9px||placeholder c:color-gray4!||placeholder" type="text" placeholder="Email address">
          <button class="h:40px fz:12px p:10px_20px_10px_20px ml:10px c:color-light! bgc:color-dark bdrs:0px! bgc:color-dark|h bd:1px_solid_color-dark bd:1px_solid_color-dark!|h ">SUBSCRIBE</button>
        </div>
      </div>
    </div>
  </div>
</section>
