{% assign backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% assign backgroundColor = general_settings.background_color_enable ? 'background-color:' | append: general_settings.color | append: ';' : '' %}
{% assign backgroundImage = general_settings.background_image_enable ? 'background-image: url(' | append: general_settings.image | append:
');background-attachment:' | append: backgroundFixed | append: ';background-size:' | append: general_settings.size | append: ';' : '' %}

<section data-id="cartcontainer" class="veda-section" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="veda-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container">
    <div class="direct fz:15px c:color-gray4 mb:33px">Home > <a href="#" class="c:color-dark">{{ heading.text }}</a></div>
    {% assign collection = collections[content.collection] %}
    <div class="row jc:center">
      <div class="col-lg-12">
        <div class="nvd-cart-header d:flex fld:column jc:center ai:center">
          <div class="nvd-cart-header__title mb:30px fz:35px fw:500">Shopping Cart</div>
          <div class="nvd-cart-header__description mb:30px fz:25px">
            These products are limited, checkout within:</div>
          <div class="nvd-cart-header__times mb:30px d:flex jc:center ai:center w:500px h:100px bd:1px_solid_color-gray4 veda-countdown" data-options="{ timestamp: 1651000000744 }">
            <div class="nvd-cart-header__time-number fz:35px fw:900 veda-countdown__days">1</div>
            <div class="nvd-cart-header__time fz:23px c:color-gray4 mr:30px">days</div>
            <div class="nvd-cart-header__time-number fz:35px fw:900 veda-countdown__hours">17</div>
            <div class="nvd-cart-header__time fz:23px c:color-gray4 mr:30px">hrs</div>
            <div class="nvd-cart-header__time-number fz:35px fw:900 veda-countdown__minutes">30</div>
            <div class="nvd-cart-header__time fz:23px c:color-gray4 mr:30px">mins</div>
            <div class="nvd-cart-header__time-number fz:35px fw:900 veda-countdown__seconds">23</div>
            <div class="nvd-cart-header__time fz:23px c:color-gray4 mr:30px">secs</div>
          </div>
          <div class="nvd-cart-header__state fz:20px mb:30px">Buy $69.00 more to enjoy FREE Shipping</div>
          <input class="nvd-cart-header__range w:580px" type="range">
        </div>

			</div>

			<div class="col-lg-10 d:flex fld:column ai:center" >
				<table class="bdcl:collapse">
          <thead>
            <tr>
              <th class="pb:10px bdb:1px_solid_color-gray4" style="width:400px;font-size: 15px;">Product</th>
              <th class="pb:10px bdb:1px_solid_color-gray4" style="width:200px;font-size: 15px;">Price</th>
              <th class="pb:10px bdb:1px_solid_color-gray4" style="width:280px;font-size: 15px;">Quantity</th>
              <th class="pb:10px bdb:1px_solid_color-gray4" style="font-size: 15px;">Total</th>
            </tr>
          </thead>
					<tbody class="card-cart__tbody">
            {% for item in collection.products limit: 4%}
              <tr class="card-cart bdb:1px_solid_color-gray4 fz:15px">
                <td class="card-cart__content pt:30px pb:30px d:flex">
                  <a href="#" class="veda-image-cover d:block w:140px" css="--aspect-ratio: 4/4">
                    <img src={{item.featured_image.url | img_url: '140x'}} alt="product-card">
                  </a>
                  <div class="card-cart__name pl:20px c:color-primary">
                    <div class="card-cart__title c:color-dark mb:10px fw:500">{{item.title}}</div>
                    <p class="mb:10px">Color: Light Blue</p>
                    <a class="card-cart__remove td:none bd:none" href="#">Remove</a>
                  </div>
                </td>
                <td class="pt:30px pb:30px"><p class="card-cart__price c:color-dark">${{item.price}}</p></td>
                <td class="pt:30px pb:30px">
                  <div class="card-cart__quantity d:flex w:fit-content bd:1px_solid_color-gray4">
                    <button class="card-cart__sub c:color-dark w:30px h:40px bd:none o:none bgc:transparent cur:pointer">-</button>
                    <input type="text" class="card-cart__value w:60px h:40px bd:none o:none ta:center" value="1"/>
                    <button class="card-cart__add c:color-dark w:30px h:40px bd:none o:none bgc:transparent cur:pointer">+</button>
                  </div>
                </td>
                <td class="pt:30px pb:30px">
                  <p class="card-cart__total">${{item.price}}</p>
                </td>
              </tr>
            {% endfor %}
          </tbody>

        </table>

			</div>
      <div class="col-lg-10 d:flex">
        <div class="w:33% pr:100px">
          <h3 class="fz:15px">Add note for seller</h3>
          <textarea name="" id="" cols="25" rows="7"></textarea>
        </div>
        <div class="w:33%">
          <h3 class="fz:15px">Estimate shipping rates</h3>
          <p class="fz:15px mt:10px mb:10px">Country/region</p>
          <select name="" id="">
            <option value="United States">United States</option>
          </select>
          <p class="fz:15px mt:30px mb:10px">State</p>
          <select name="" id="">
            <option value="Alabama">Alabama</option>
          </select>
          <p class="fz:15px mt:30px mb:10px">ZIP code</p>
          <input type="text">
          <button class="vdoan-btn__primary mt:30px w:100% bgc:color-light c:color-dark bd:1px_solid_color-dark ml:0px bdrs:0px">Calulatate shipping rates</button>
        </div>
        <div class="w:33% pl:90px">
          <h3 class="fz:15px">SUBTOTAL: <span class="fl:right fz:20px">$96.00</span></h3>
          <p class="mt:20px">Taxes and shipping calculated at checkout</p>
          <button class="vdoan-btn__primary mt:30px ml:0px w:100% bdrs:0px">CHECK OUT</button>
        </div>
      </div>
    </div>

  </div>
</section>
