
{% set uniqueId = "id_1f89a611-b797-4370-b8b7-5e60f884f054" %}
{% if general_settings.background_fixed %}
{% set backgroundFixed = 'fixed' %}
{% else %}
{% set backgroundFixed = 'scroll' %}
{% endif %}
{% if general_settings.background_type == 'color' %}
{% set backgroundColor = 'background-color: ' ~  general_settings.background_color ~  ';' %}
{% else %}
{% set backgroundColor = '' %}
{% endif %}
{% if general_settings.background_type == 'image' %}
{% set backgroundImage = 'background-image: url(' ~  general_settings.background_image ~  ');background-attachment: ' ~  backgroundFixed ~  ';background-size: ' ~  general_settings.background_size ~  ';' %}
{% else %}
{% set backgroundImage = '' %}
{% endif %}
{% set sectionPadding = 'padding-top: ' ~  general_settings.padding.top ~  'px;padding-right: ' ~  general_settings.padding.right ~  'px;padding-bottom: ' ~  general_settings.padding.bottom ~  'px;padding-left: ' ~  general_settings.padding.left ~  'px;' %}


<section data-id="cartcontainer" class="" css="{{ backgroundColor }}{{ backgroundImage }}{{ sectionPadding }}">
  {% if general_settings.background_overlay_enable %}
    <div class="pos:absolute ins:0 z:-1" css="background-color: {{ general_settings.background_overlay_color }}"></div>
  {% endif %}
  <div class="direct fz:15px c:color-gray4 mb:33px ml:5%">
    
      {% if request.page_type != 'index' or request.page_type != 'list-collections' %}
        <nav role="navigation" aria-label="breadcrumbs">
            <a href="{{ routes.root_url }}" title="Home">Home</a>
            {% if 'page' in request.page_type %}
              <span aria-hidden="true">/</span>
              <span>{{ page.title }}</span>
            {% elseif 'product' in request.page_type %}
              {% if collection.url %}
                <span aria-hidden="true">/</span>
                {{ collection.title | link_to(collection.url)}}
              {% endif %}
              <span aria-hidden="true">/</span>
              <span>{{ product.title }}</span>
            {% elseif 'collection' in request.page_type and collection.handle %}
              <span aria-hidden="true">/</span>
              {% if current_tags %}
                {% set url %}
/collections/{{ collection.handle }}{% endset %}
                {{ collection.title | link_to(url)}}
                <span aria-hidden="true">/</span>
                <span>{{ current_tags | join(" + ")}}</span>
              {% else %}
                <span>{{ collection.title }}</span>
              {% endif %}
            {% elseif request.page_type == 'blog' %}
              <span aria-hidden="true">/</span>
              {% if current_tags %}
                {{ blog.title | link_to(blog.url)}}
                <span aria-hidden="true">/</span>
                <span>{{ current_tags | join(" + ")}}</span>
              {% else %}
                <span>{{ blog.title }}</span>
              {% endif %}
            {% elseif request.page_type == 'article' %}
              <span aria-hidden="true">/</span>
              {{ blog.title | link_to(blog.url)}}
              <span aria-hidden="true">/</span>
              <span>{{ article.title }}</span>
            {% elseif request.page_type == 'cart' %}
              <span aria-hidden="true">/</span>
              <span>Cart</span>
            {% else %}
              <span aria-hidden="true">/</span>
              <span>{{ page_title }}</span>
            {% endif %}
        </nav>
      
{% endif %}

    
  </div>
  <div class="container">
    <div class="row jc:center">
      <div class="col-lg-12">
        <div class="nvd-cart-header d:flex fld:column jc:center ai:center">
          <div class="nvd-cart-header__title mb:30px fz:pfs(25px,35px) fw:500 c:color-gray9 ta:center">Shopping Cart</div>
          <div class="nvd-cart-header__description mb:30px fz:pfs(16px,25px) c:color-gray9 ta:center">
            These products are limited, checkout within:</div>
          <div class="nvd-cart-header__times mb:30px d:flex jc:center ai:center w:pfs(200px,500px) h:100px  bd:1px_solid_color-gray4 veda-countdown ta:center" data-options="{ timestamp: 1658000000744 }">
            <div class="nvd-cart-header__time-number fz:pfs(15px,35px) fw:900 veda-countdown__days c:color-gray9">1</div>
            <div class="nvd-cart-header__time fz:pfs(13px,23px) c:color-gray4 mr:2px mr:30px@md ml:pfs(2px,7px)  fw:400">days</div>
            <div class="nvd-cart-header__time-number fz:pfs(15px,35px) fw:900 veda-countdown__hours c:color-gray9">17</div>
            <div class="nvd-cart-header__time fz:pfs(13px,23px) c:color-gray4 mr:2px mr:30px@md ml:pfs(2px,7px)  fw:400">hrs</div>
            <div class="nvd-cart-header__time-number fz:pfs(15px,35px) fw:900 veda-countdown__minutes c:color-gray9">30</div>
            <div class="nvd-cart-header__time fz:pfs(13px,23px) c:color-gray4 mr:2px mr:30px@md ml:pfs(2px,7px)  fw:400">mins</div>
            <div class="nvd-cart-header__time-number fz:pfs(15px,35px) fw:900 veda-countdown__seconds c:color-gray9">23</div>
            <div class="nvd-cart-header__time fz:pfs(13px,23px) c:color-gray4 ml:pfs(2px,7px) fw:400">secs</div>
          </div>
          <div class="nvd-cart-header__state fz:pfs(15px,20px) mb:30px c:color-gray9 ta:center">Buy $69.00 more to enjoy FREE Shipping</div>
          <div class="veda-slider w:100% w:580px@md" >
            <div class="veda-slider__thumb w:19px h:19px bgc:#FEAA01" data-index="0"></div>
            <div class="veda-slider__track h:5px"></div>
            <div class="veda-slider__tracked bgc:#FEAA01 h:5px"></div>
          </div>
        </div>

			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 d:flex fld:column ai:center ov:auto" >
        <div class="w:100%">
          <table class="bdcl:collapse mt:20px miw:550px w:100%">
            <thead>
              <tr>
                <th class="pb:10px bdb:1px_solid_color-gray2 fz:15px fw:500 c:color-gray9 bd:none " style="width:400px;font-size: 15px;">Product</th>
                <th class="pb:10px bdb:1px_solid_color-gray2 fz:15px fw:500 c:color-gray9 bd:none" style="width:200px;font-size: 15px;">Price</th>
                <th class="pb:10px bdb:1px_solid_color-gray2 fz:15px fw:500 c:color-gray9 bd:none" style="width:280px;font-size: 15px;">Quantity</th>
                <th class="pb:10px bdb:1px_solid_color-gray2 fz:15px fw:500 c:color-gray9 bd:none" style="font-size: 15px;">Total</th>
              </tr>
            </thead>
            <tbody class="card-cart__tbody">
            </tbody>

          </table>
        </div>


			</div>
      <div class="colxs-12 col-sm-12 col-md-12 col-lg-10 d:flex flw:wrap">
        <div class="w:100% w:33%@md pr:pfs(0px,100px)">
          <h3 class="fz:15px fw:500">Add note for seller</h3>
          <textarea class="maw:289px w:95% h:144px fz:13px fw:400 c:color-gray3 fw:400||placeholder fz:13px||placeholder" placeholder="Special instrutions for seller"></textarea>
        </div>
        <div class="w:100% w:33%@md mt:10px mt:0px@md">
          <h3 class="fz:15px fw:500">Estimate shipping rates</h3>
          <p class="fz:15px mt:10px mb:10px fw:400">Country/region</p>
          <div class="veda-select select-country">
            <div class="veda-select__view maw:282px w:95% w:282px@md h:43px bd:1px_solid_color-gray3 pl:15px cur:pointer d:flex ai:center">
              <div class="veda-select__label w:242px cur:pointer d:flex ai:center fz:15px fw:400 c:color-dark"></div>
              <i class="fal fa-angle-down"></i>
            </div>
            <div class="veda-select__options select-custom pos:absolute t:50px w:282px z:100 bgc:color-light bd:1px_solid_color-gray3">
              <div class="veda-select__option select-custom__item w:280px h:43px fz:15px fw:400 pl:15px cur:pointer bgc:color-gray3!|h d:flex ai:center bd:none!" value="United States" selected>United States</div>
              <div class="veda-select__option select-custom__item w:280px h:43px fz:15px fw:400 pl:15px cur:pointer bgc:color-gray3!|h d:flex ai:center bd:none!" value="best selling">Best selling</div>
            </div>
          </div>
          <p class="fz:15px mt:30px mb:10px fw:400">State</p>
          <div class="veda-select select-state">
            <div class="veda-select__view maw:282px w:95% w:282px@md h:43px bd:1px_solid_color-gray3 pl:15px cur:pointer d:flex ai:center">
              <div class="veda-select__label w:242px cur:pointer d:flex ai:center fz:15px fw:400 c:color-dark"></div>
              <i class="fal fa-angle-down"></i>
            </div>
            <div class="veda-select__options select-custom pos:absolute t:50px w:282px z:100 bgc:color-light bd:1px_solid_color-gray3">
            <div class="veda-select__option select-custom__item w:280px h:43px fz:15px fw:400 pl:15px cur:pointer bgc:color-gray3!|h d:flex ai:center bd:none!" value="Alabama" selected>Alabama</div>
            <div class="veda-select__option select-custom__item w:280px h:43px fz:15px fw:400 pl:15px cur:pointer bgc:color-gray3!|h d:flex ai:center bd:none!" value="best selling">Best selling</div>
          </div>
          </div>
          <p class="fz:15px mt:30px mb:10px fw:400">ZIP code</p>
          <input class="w:95% maw:282px w:282px@md! h:43px bdrs:0px! " type="text">
          <button class="mt:30px maw:282px w:95% w:282px@md bgc:color-light c:color-dark bd:1px_solid_color-dark ml:0px bdrs:0px p:13px_0px_13px_0px fz:15px fw:500 bgc:color-light!|h c:color-dark!|h bd:1px_solid_color-dark!|h">Calulatate shipping rates</button>
        </div>
        <div class="w:100% w:33%@md mt:10px mt:0px@md pl:90px@md">
          <h3 class="fz:15px fw:500">SUBTOTAL: <span class="fl:right fz:20px fw:500">$96.00</span></h3>
          <p class="mt:20px fz:12px fw:400">Taxes and shipping calculated at checkout</p>
          <button class="mt:30px ml:0px w:100% bdrs:0px bgc:color-dark c:color-light fz:15px fw:500 p:16px_0_16px_0 bd:1px_solid_color-dark bgc:color-dark!|h bd:1px_solid_color-dark!|h">CHECK OUT</button>
        </div>
      </div>
    </div>

  </div>
</section>
