
{% set uniqueId = "id_e22bff1d-b10d-48a4-8d51-fd503f47fd0a" %}
{% set backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% set backgroundColor = general_settings.background_color_enable ? 'background-color:' ~  general_settings.color ~  ';' : '' %}
{% set backgroundImage = general_settings.background_image_enable ? 'background-image: url(' ~  general_settings.image ~ 
');background-attachment:' ~  backgroundFixed ~  ';background-size:' ~  general_settings.size ~  ';' : '' %}

<section data-id="cartcontainer" class="" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="veda-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container">
    <div class="direct fz:15px c:color-gray4 mb:33px">Home > <a href="#" class="c:color-dark">{{ heading.text }}</a></div>
    {% set collection = collections[content.collection] %}
    <div class="row jc:center">
      <div class="col-lg-12">
        <div class="nvd-cart-header d:flex fld:column jc:center ai:center">
          <div class="nvd-cart-header__title mb:30px fz:35px fw:500">Shopping Cart</div>
          <div class="nvd-cart-header__description mb:30px fz:25px">
            These products are limited, checkout within:</div>
          <div class="nvd-cart-header__times mb:30px d:flex jc:center ai:center w:500px h:100px bd:1px_solid_color-gray4 veda-countdown" data-options="{ timestamp: 1651000000744 }">
            <div class="nvd-cart-header__time-number fz:35px fw:900 veda-countdown__days">1</div>
            <div class="nvd-cart-header__time fz:23px c:color-gray4 mr:30px">days</div>
            <div class="nvd-cart-header__time-number fz:35px fw:900 veda-countdown__hours">17</div>
            <div class="nvd-cart-header__time fz:23px c:color-gray4 mr:30px">hrs</div>
            <div class="nvd-cart-header__time-number fz:35px fw:900 veda-countdown__minutes">30</div>
            <div class="nvd-cart-header__time fz:23px c:color-gray4 mr:30px">mins</div>
            <div class="nvd-cart-header__time-number fz:35px fw:900 veda-countdown__seconds">23</div>
            <div class="nvd-cart-header__time fz:23px c:color-gray4 mr:30px">secs</div>
          </div>
          <div class="nvd-cart-header__state fz:20px mb:30px">Buy $69.00 more to enjoy FREE Shipping</div>
          <input class="nvd-cart-header__range w:580px" type="range">
        </div>

			</div>

			<div class="col-lg-10 d:flex fld:column ai:center" >
				<table class="bdcl:collapse">
          <thead>
            <tr>
              <th class="pb:10px bdb:1px_solid_color-gray4" style="width:400px;font-size: 15px;">Product</th>
              <th class="pb:10px bdb:1px_solid_color-gray4" style="width:200px;font-size: 15px;">Price</th>
              <th class="pb:10px bdb:1px_solid_color-gray4" style="width:280px;font-size: 15px;">Quantity</th>
              <th class="pb:10px bdb:1px_solid_color-gray4" style="font-size: 15px;">Total</th>
            </tr>
          </thead>
					<tbody class="card-cart__tbody">
            {% for item in collection.products | slice(0, 4)%}
              <tr class="card-cart bdb:1px_solid_color-gray4 fz:15px">
                <td class="card-cart__content pt:30px pb:30px d:flex">
                  <a href="#" class="veda-image-cover d:block w:140px" css="--aspect-ratio: 4/4">
                    <img src={{item.featured_image.url | img_url('140x')}} alt="product-card">
                  </a>
                  <div class="card-cart__name pl:20px c:color-primary">
                    <div class="card-cart__title c:color-dark mb:10px fw:500">{{item.title}}</div>
                    <p class="mb:10px">Color: Light Blue</p>
                    <a class="card-cart__remove td:none bd:none" href="#">Remove</a>
                  </div>
                </td>
                <td class="pt:30px pb:30px"><p class="card-cart__price c:color-dark">${{item.price}}</p></td>
                <td class="pt:30px pb:30px">
                  <div class="card-cart__quantity d:flex w:fit-content bd:1px_solid_color-gray4">
                    <button class="card-cart__sub c:color-dark w:30px h:40px bd:none o:none bgc:transparent cur:pointer bgc:transparent!|h c:color-dark!|h">-</button>
                    <input type="text" class="card-cart__value w:60px h:40px bd:none o:none ta:center" value="1"/>
                    <button class="card-cart__add c:color-dark w:30px h:40px bd:none o:none bgc:transparent bgc:transparent!|h cur:pointer c:color-dark!|h">+</button>
                  </div>
                </td>
                <td class="pt:30px pb:30px">
                  <p class="card-cart__total">${{item.price}}</p>
                </td>
              </tr>
            {% endfor %}
          </tbody>

        </table>

			</div>
      <div class="col-lg-10 d:flex">
        <div class="w:33% pr:100px">
          <h3 class="fz:15px fw:500">Add note for seller</h3>
          <textarea class="fz:13px fw:400 c:color-gray3" name="" id="" cols="25" rows="7" placeholder="Special instrutions for seller"></textarea>
        </div>
        <div class="w:33%">
          <h3 class="fz:15px fw:500">Estimate shipping rates</h3>
          <p class="fz:15px mt:10px mb:10px fw:400">Country/region</p>
          <div class="veda-select">
            <div class="veda-select__view w:282px h:43px bd:1px_solid_color-gray3 pl:15px cur:pointer d:flex ai:center">
              <div class="veda-select__label w:242px cur:pointer d:flex ai:center fz:15px fw:400 c:color-dark"></div>
              <i class="fal fa-angle-down"></i>
            </div>
            <div class="veda-select__options select-custom pos:absolute t:50px w:282px z:100 bgc:color-light bd:1px_solid_color-gray3">
              <div class="veda-select__option select-custom__item w:280px h:43px fz:15px fw:400 pl:15px cur:pointer bgc:color-gray3!|h d:flex ai:center bd:none!" value="United States" selected>United States</div>
              <div class="veda-select__option select-custom__item w:280px h:43px fz:15px fw:400 pl:15px cur:pointer bgc:color-gray3!|h d:flex ai:center bd:none!" value="best selling">Best selling</div>
            </div>
          </div>
          <p class="fz:15px mt:30px mb:10px fw:400">State</p>
          <div class="veda-select">
            <div class="veda-select__view w:282px h:43px bd:1px_solid_color-gray3 pl:15px cur:pointer d:flex ai:center">
              <div class="veda-select__label w:242px cur:pointer d:flex ai:center fz:15px fw:400 c:color-dark"></div>
              <i class="fal fa-angle-down"></i>
            </div>
            <div class="veda-select__options select-custom pos:absolute t:50px w:282px z:100 bgc:color-light bd:1px_solid_color-gray3">
            <div class="veda-select__option select-custom__item w:280px h:43px fz:15px fw:400 pl:15px cur:pointer bgc:color-gray3!|h d:flex ai:center bd:none!" value="Alabama" selected>Alabama</div>
            <div class="veda-select__option select-custom__item w:280px h:43px fz:15px fw:400 pl:15px cur:pointer bgc:color-gray3!|h d:flex ai:center bd:none!" value="best selling">Best selling</div>
          </div>
          </div>
          <p class="fz:15px mt:30px mb:10px fw:400">ZIP code</p>
          <input class="w:282px! h:43px bdrs:0px! " type="text">
          <button class="vdoan-btn__primary mt:30px w:282px bgc:color-light c:color-dark bd:1px_solid_color-dark ml:0px bdrs:0px p:13px_0px_13px_0px fz:15px fw:500 bgc:color-light!|h c:color-dark!|h bd:1px_solid_color-dark!|h">Calulatate shipping rates</button>
        </div>
        <div class="w:33% pl:90px">
          <h3 class="fz:15px fw:500">SUBTOTAL: <span class="fl:right fz:20px fw:500">$96.00</span></h3>
          <p class="mt:20px fz:12px fw:400">Taxes and shipping calculated at checkout</p>
          <button class="vdoan-btn__primary mt:30px ml:0px w:100% bdrs:0px bgc:color-dark c:color-light fz:15px fw:500 p:16px_0_16px_0 bd:1px_solid_color-dark bgc:color-dark!|h bd:1px_solid_color-dark!|h">CHECK OUT</button>
        </div>
      </div>
    </div>

  </div>
</section>
