
{% set uniqueId = "id_d8cb233c-6f65-40a6-8988-dc9e6b0a5985" %}
{% if general_settings.background_fixed %}
{% set backgroundFixed = 'fixed' %}
{% else %}
{% set backgroundFixed = 'scroll' %}
{% endif %}
{% if general_settings.background_type == 'color' %}
{% set backgroundColor = 'background-color: ' ~  general_settings.background_color ~  ';' %}
{% else %}
{% set backgroundColor = '' %}
{% endif %}
{% if general_settings.background_type == 'image' %}
{% set backgroundImage = 'background-image: url(' ~  general_settings.background_image ~  ');background-attachment: ' ~  backgroundFixed ~  ';background-size: ' ~  general_settings.background_size ~  ';' %}
{% else %}
{% set backgroundImage = '' %}
{% endif %}
{% set sectionPadding = 'padding-top: ' ~  general_settings.padding.top ~  'px;padding-right: ' ~  general_settings.padding.right ~  'px;padding-bottom: ' ~  general_settings.padding.bottom ~  'px;padding-left: ' ~  general_settings.padding.left ~  'px;' %}

<section data-id="hero" class="veda-section" css="{{ backgroundColor }}{{ backgroundImage }}{{ sectionPadding }}">
  {% if general_settings.background_overlay_enable %}
    <div class="pos:absolute ins:0 z:-1" css="background-color: {{ general_settings.background_overlay_color }}"></div>
  {% endif %}
  <div class="container">
    <div class="row">
      <div component="content" class="row row-cols-lg-{{column.lg}} row-cols-md-{{column.lg}} row-cols-sm-{{column.lg}} row-cols-{{column.lg}}">
        <div class="yasmina-banner d:flex {% if content.position == "left" %}jc:flex-start{% endif %}{% if content.position == "right" %}jc:flex-end{% endif %} c:{{content.color}} mih:626px pos:relative ml:-15px mr:-15px">
          <div class="yasmina-banner__content d:flex fld:column jc:center ai:center w:100%  w:50%@md ta:center z:9">
            <p class="yasmina-banner__text fw:500 fz:20px">{{content.title}}</p>
            <div class="yasmina-banner__title c:{{content.color}} fw:700 fz:50px">{{content.heading}}</div>
            <p class="yasmina-banner__description ff:font-secondary mb:30px fz:14px lh:23px fw:400 lts:0.15px">
              {{content.description}}
            </p>
            {% if content.button | length == 1 %}
            <div class="yasmina-btn__container">
              {% for item in content.button %}
                <button class="yasmina-btn__primary bgc:{{item.bgc}} bgc:{{item.bgc}}|h! bd:none! c:{{item.color}} p:20px_86px_20px_86px cur:pointer m:5px_5px_5px_5px fw:600 bdrs:0px! fz:17px lts:0.15px">{{item.label}}</button>
              

{% endfor %}


            </div>
            {% endif %}
            {% if content.button | length > 1 %}
            <div class="yasmina-btn__container">
              {% for item in content.button %}
                <button class="yasmina-btn__primary bgc:{{item.bgc}} bgc:{{item.bgc}}|h! bd:none! c:{{item.color}} p:20px_42px_20px_42px w:198px h:60px ta:center cur:pointer m:5px_5px_5px_5px fw:600 bdrs:0px! fz:14px lts:0.15px">{{item.label}}</button>
              

{% endfor %}


            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
