
{% set uniqueId = "id_0b482b03-f1d4-4adc-86db-4fb0605f4047" %}
{% set backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% set backgroundColor = general_settings.background_color_enable ? 'background-color:' ~  general_settings.color ~  ';' : '' %}
{% set backgroundImage = general_settings.background_image_enable ? 'background-image: url(' ~  general_settings.image ~ 
');background-attachment:' ~  backgroundFixed ~  ';background-size:' ~  general_settings.size ~  ';' : '' %}


<section data-id="blogcontainer" class="veda-section" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="core-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container">
    <p class="direct mb:15px">Home > <a href="#">{{ heading.text }}</a></p>

    <div class="row">
      <div class="col-lg-8">
        {% set blog = blogs[content.blog] %}
        {% for item in blog.articles %}
          <div class="blog pr:30px">
            <img src={{item.image.src | img_url('750x')}} alt="Blog Img">
            <div class="blog__infor mt:15px">
              <p><i class="far fa-clock"></i>{{item.image.updated_at}}</p>
              <p><i class="fas fa-archive"></i>Tips & Tricks</p>
              <p><i class="fab fa-pied-piper-square"></i>Fashion, store, shopify</p>
            </div>
            <h1 class="blog__title mb:10px mt:10px">{{item.title}}</h1>
            <p class="blog__description mb:15px">{{item.content}}</p>
            <button class="vdoan-btn__primary">Read More</button>
          </div>
        {% endfor %}
      </div>
      <div class="col-lg-4">
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
          <div class="product-box">
            {% for item in product_box %}
              {% if item.type == "search" %}
                <div class="product-box__search mb:15px">
                  <h2 class="product-box__title mb:15px">Search</h2>
                  <div class="product-box__box__search d:flex ai:center">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Tìm kiếm">
                  </div>
                </div>
              {% endif %}
              {% if item.type == "popular-post" %}
                <div class="product-box__popular-post mt:10px mb:10px">
                  <h2 class="product-box__title mb:10px">Popular Post</h2>
                  <div class="product-box__content">
                    {% for item in item.item %}
                      <div class="product-box__box-post mb:30px">
                        <img src={{item.srcImg | img_url('')}} alt="">
                        <p>{{item.title}}</p>
                      </div>
                    {% endfor %}
                  </div>
                </div>

              {% endif %}
              {% if item.type == "tag" %}
                <div class="product-box__tag mb:15px">
                  <h2 class="product-box__title">Tags</h2>
                  <div class="product-box__content">
                    {% for item in blog.all_tags %}
                      <div class="product-box__box-tag">{{item}}</div>
                    {% endfor %}
                  </div>

                </div>
              {% endif %}
              {% if item.type == "newsletter" %}
                <div class="product-box__newsletter">
                  <h2 class="product-box__title">Newsletter Signup</h2>
                  <div class="product-box__content">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint.</p>
                    <div class="product-box__box-newsletter mt:10px">
                      <input type="text" placeholder="Your email">
                      <button class="btn bdrs:0">GET!</button>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

          </div>

        </div>
      </div>
    </div>

  </div>
</section>
