
{% set uniqueId = "id_3f81f987-eabf-4b61-8075-9cef0c1f561f" %}
{% set backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% set backgroundColor = general_settings.background_color_enable ? 'background-color:' ~  general_settings.color ~  ';' : '' %}
{% set backgroundImage = general_settings.background_image_enable ? 'background-image: url(' ~  general_settings.image ~ 
');background-attachment:' ~  backgroundFixed ~  ';background-size:' ~  general_settings.size ~  ';' : '' %}

<header data-id="header" class="pos:relative z:10 bgc:color-light bgz:cover bgp:center" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="core-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container maw:100% p:0">
    <nav class="pet-nav d:flex ai:center jc:space-between mih:60px">
      {% if navigation.menu %}
        <ul class="pet-nav__menu d:flex ai:center m:0 pl:92px h:60px list-style:none">
          {% for item in navigation.menu %}
            {% set hasMegaMenu = item.hasMegaMenu %}
            {% if hasMegaMenu %}
              <li class="pet-nav__list-item pet-nav__list-item--has-megamenu{{ hasMegaMenu ? '' : '  pos:relative' }}">
            {% else %}
              <li class="pet-nav__list-item pos:relative">
            {% endif %}
              <a class="pet-nav__link pos:relative c:color-gray9 w:100% pl:20px pr:20px fw:600 fz:13px lh:19px cur:pointer" href="{{ item.href }}">
                {% if item.iconEnabled %}
                  {{ item.icon }}
                {% endif %}
                {{ item.label }}
                {% if navigation.arrow and item.children | length > 0 %}
                  <span class="pet-nav__arrow ml:5px c:color-gray9 fz:20px"><i class="fal fa-angle-down"></i></span>
                {% endif %}
              </a>
              {% if item.children | length > 0 %}
                {% if hasMegaMenu %}
                  <ul class="pet-nav__sub-list pet-nav__sub-list--megamenu pos:absolute t:100% l:0 z:999 w:100% trs:0.3s">
                {% else %}
                  <ul class="pet-nav__sub-list pos:absolute t:100% l:0 z:999 w:220px bd:1px_solid_color-gray2 bdrs:10px trs:0.3s bgc:color-light">
                {% endif %}
                {% for item in item.children %}
                    <li class="pet-nav__list-item pos:relative bdb:1px_solid_color-gray2 bdb:0|lc">
                      {% if item.megaMenuEnabled %}
                        <div class="pet-nav__megamenu">
                          {% include "../../megamenu/" ~ item.megaMenuId ~ "/" ~ item.megaMenuId ~ ".twig" %}
                        </div>
                      {% else %}
                        <a class="pet-nav__link pos:relative d:flex ai:center jc:space-between p:15px fz:15px fw:700 c:color-gray9 c:color-primary|h trs:0.3s" href="{{ item.href }}">
                          <span>
                            {% if item.iconEnabled %}
                              <span class="mr:8px">{{ item.icon }}</span>
                            {% endif %}
                            <span>{{ item.label }}</span>
                          </span>
                          {% if navigation.arrow and item.children | length > 0 %}
                            <span class="fz:20px"><i class="fal fa-angle-right"></i></span>
                          {% endif %}
                        </a>
                        {% if item.children | length > 0 %}
                          <ul class="pet-nav__sub-list pos:absolute t:0 l:100% z:999 w:220px bd:1px_solid_color-gray2 bdrs:10px trs:0.3s bgc:color-light">
                            {% for item in item.children %}
                              {% set hasMegaMenu = item.hasMegaMenu %}
                              <li class="pet-nav__list-item bdb:1px_solid_color-gray2 bdb:0|lc">
                                <a class="pet-nav__link pos:relative d:flex ai:center p:15px fz:15px fw:700 c:color-gray9 c:color-primary|h trs:0.3s" href="{{ item.href }}">
                                  {% if item.iconEnabled %}
                                    <span class="mr:8px">{{ item.icon }}</span>
                                  {% endif %}
                                  <span>{{ item.label }}</span>
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class="d:flex jc:center m:0 pr:15px">
        {% if search.enable %}
          <div class="vdoan-menu__search d:flex w:160px w:260px@md h:38px">
            <div class="w:122px w:222px@md h:38px bd:1px_solid_color-gray2 ">
              <input class="bd:none! o:none d:inline-block pl:10px fz:13px c:color-gray6 c:color-gray6|ph" placeholder="Search" type="text">
            </div>
            <div class="btn-search w:38px h:38px fz:22px bgc:color-dark c:color-light cur:pointer d:inline-block pos:relative">
              <i class="fal fa-search pos:absolute t:50% l:50% trf:translate(-50%,-50%) fz:19px"></i>
            </div>
          </div>
        {% endif %}
        {#
          {% if wishlist.enable %}
          <div class="fz:25px c:color-gray9 c:color-primary|h ml:16px cur:pointer test1">
            {{ wishlist.icon }}
          </div>
        {% endif %}
        {% if cart.enable %}
          <div class="fz:25px c:color-gray9 c:color-primary|h ml:16px cur:pointer test2" data-use-mini-cart="{{ cart.use_mini_cart }}">
            {{ cart.icon }}
          </div>
        {% endif %}
        #}

      </div>
    </nav>
  </div>
</header>
