{% assign backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% assign backgroundColor = general_settings.background_color_enable ? 'background-color:' | append: general_settings.color | append: ';' : '' %}
{% assign backgroundImage = general_settings.background_image_enable ? 'background-image: url(' | append: general_settings.image | append:
');background-attachment:' | append: backgroundFixed | append: ';background-size:' | append: general_settings.size | append: ';' : '' %}


<section data-id="hero1" class="mah:274px h:274px" css="{{ backgroundColor }}{{ backgroundImage }}" >
  <div class="core-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container maw:none">
    <div class="row mt:0px">
      <div class="col-md-12">
        {% assign collection = collections[content.collection] %}
          <div class="c:white">
            <div class="vdoan-banner__content jc:flex-start d:flex fld:column ai:center w:50% ta:center z:9">
              <div class="vdoan-banner__title fw:600 fz:35px ff:font-primary mt:20px">INSTILEY</div>
              <p class="vdoan-banner__description ff:font-secondary mt:10px mb:30px fz:14px">
                {{content.description}}
              </p>
              <div class="vdoan-btn__container">
                {% for item in content.button %}
                  {% if content.color_dark %}
                    <button class="vdoan-btn__primary bgc:color-dark bd:none! c:color-light p:20px_47px_20px_47px cur:pointer m:5px_5px_5px_5px fw:600 bdrs:0px! fz:17px lts:0.15px">{{item.name}}</button>
                  {% endif %}
                  {% if content.color_light %}
                    <button class="vdoan-btn__secondary bgc:color-light bd:none! c:color-dark p:20px_47px_20px_47px cur:pointer ml:5px mr:5px fw:600 bdrs:0px! fz:17px lts:0.15px">{{item.name}}</button>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            {% if banner.stickey %}
              <div class="vdoan-banner__stickey">
                <div class="vdoan-banner__rectangle">{{content.stickey}}</div>
                <div class="vdoan-banner__triangle--left"></div>
                <div class="vdoan-banner__triangle--right"></div>
              </div>

            {% endif %}
          </div>
      </div>
    </div>
  </div>
</section>
