{% liquid
  if general_settings.background_fixed assign backgroundFixed = 'fixed' else assign backgroundFixed = 'scroll' endif
  if general_settings.background_type == 'color' assign backgroundColor = 'background-color: ' | append: general_settings.background_color | append: ';' else assign backgroundColor = '' endif
  if general_settings.background_type == 'image' assign backgroundImage = 'background-image: url(' | append: general_settings.background_image | append:
  ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: general_settings.background_size | append: ';' else assign backgroundImage = '' endif
  assign sectionPadding = 'padding-top: ' | append: general_settings.padding.top | append: 'px;padding-right: ' | append: general_settings.padding.right | append: 'px;padding-bottom: ' | append: general_settings.padding.bottom | append: 'px;padding-left: ' | append: general_settings.padding.left | append: 'px;'
%}


<section data-id="accountcontainer" css="{{ backgroundColor }}{{ backgroundImage }}{{ sectionPadding }}">
  {% if general_settings.background_overlay_enable %}
    <div class="pos:absolute ins:0 z:-1" css="background-color: {{ general_settings.background_overlay_color }}"></div>
  {% endif %}
  <div class="direct fz:15px c:color-gray4 mb:33px ml:5%">
    {% unless request.page_type == 'index' or request.page_type == 'list-collections' %}
      <nav role="navigation" aria-label="breadcrumbs">
          <a href="{{ routes.root_url }}" title="Home">Home</a>
          {% if request.page_type contains 'page' %}
            <span aria-hidden="true">/</span>
            <span>{{ page.title }}</span>
          {% elsif request.page_type contains 'product' %}
            {% if collection.url %}
              <span aria-hidden="true">/</span>
              {{ collection.title | link_to: collection.url }}
            {% endif %}
            <span aria-hidden="true">/</span>
            <span>{{ product.title }}</span>
          {% elsif request.page_type contains 'collection' and collection.handle %}
            <span aria-hidden="true">/</span>
            {% if current_tags %}
              {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
              {{ collection.title | link_to: url }}
              <span aria-hidden="true">/</span>
              <span>{{ current_tags | join: " + " }}</span>
            {% else %}
              <span>{{ collection.title }}</span>
            {% endif %}
          {% elsif request.page_type == 'blog' %}
            <span aria-hidden="true">/</span>
            {% if current_tags %}
              {{ blog.title | link_to: blog.url }}
              <span aria-hidden="true">/</span>
              <span>{{ current_tags | join: " + " }}</span>
            {% else %}
              <span>{{ blog.title }}</span>
            {% endif %}
          {% elsif request.page_type == 'article' %}
            <span aria-hidden="true">/</span>
            {{ blog.title | link_to: blog.url }}
            <span aria-hidden="true">/</span>
            <span>{{ article.title }}</span>
          {% elsif request.page_type == 'cart' %}
            <span aria-hidden="true">/</span>
            <span>Cart</span>
          {% else %}
            <span aria-hidden="true">/</span>
            <span>{{ page_title }}</span>
          {% endif %}
      </nav>
    {% endunless %}
  </div>
  <div class="container">
    <h3 class="login__title mb:30px ta:center fz:35px fw:500 ff:font-primary fw:500">Log In</h3>
    <p class="login__description mb:55px ta:center mt:-25px fz:25px ff:font-primary fw:400">Lorem ipsum dolor sit amet, consectetur adipiscing
    </p>
    {% assign collection = collections[content.collection] %}
    <div class="row jc:center pb:80px">
      <div class="col-lg-5">
				<div class="register pr:100px@md w:90% d:flex fld:column ai:flex-end@md">
					<div class="register__content">
						<h4 class="register__title mb:25px fz:20px ff:font-primary fw:400">New Customer</h4>
						<p class="register__description mb:40px ff:font-primary fw:400 fz:15px c:color-dark">Sign up for early Sale access plus tailored<br/>new arrivals, trends and promotions. To opt<br/>out, click unsubscribe in our emails.</p>
						<button class="bgc:color-dark bgc:color-dark|h bd:none! c:color-light p:20px_0px_20px_0px p:20px_114px_20px_114px@md cur:pointer m:5px_5px_5px_5px fw:500 bdrs:0px! ff:font-primary fz:15px lts:0.15px w:100% m:0!">Register</button>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="sign-in w:100% w:500px@md d:flex fld:column">
					<h3 class="sign-in__title mb:20px fz:25px ff:font-primary fw:400">Log In</h3>
          <form action="">
            <input class="w:100%! w:500px!@md h:50px bd:1px_solid_color-gray3! pl:16px! c:color-gray3! bdrs:0px! fz:15px fw:400 fz:15px||placeholder fw:400||placeholder" type="text" placeholder="Email"/>
            <div class="mb:20px!"></div>
            <input class="w:100%! w:500px!@md h:50px mb:25px! bd:1px_solid_color-gray3! pl:16px! c:color-gray3 bdrs:0px! fz:15px fw:400 fz:15px||placeholder fw:400||placeholder" type="password" placeholder="Password"/>
            <div class="mt:10px"></div>
            <a class="td:underline c:color-dark fz:15px ff:font-primary fw:400 td:underline|h" href="#">Forgot password?</a>
            <div class="mb:40px"></div>
            <button type="submit" class="ff:font-primary bgc:color-dark bgc:color-dark|h bd:none! c:color-light pt:20px pb:20px pl:pfs(20px,86px) pr:pfs(20px,86px) cur:pointer m:5px_5px_5px_5px fw:500 bdrs:0px! fz:15px lts:0.15px w:100%! m:0!" style="width: 100%;">Sign In</button>
          </form>
				</div>
			</div>
    </div>

  </div>
</section>
