
{% set uniqueId = "id_71607de2-8c05-4e8c-82e5-a6267a1aae96" %}
{% set backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% set backgroundColor = general_settings.background_color_enable ? 'background-color:' ~  general_settings.color ~  ';' : '' %}
{% set backgroundImage = general_settings.background_image_enable ? 'background-image: url(' ~  general_settings.image ~ 
');background-attachment:' ~  backgroundFixed ~  ';background-size:' ~  general_settings.size ~  ';' : '' %}


<section data-id="pageproduct" class="" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="veda-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container pt:35px">
    {% set comment = blogs[content.collection] %}
    {% set product = product1 %}
    <div class="direct fz:15px c:color-gray4 mb:33px ff:font-primary fw:400">Home > <a class="c:color-gray4" href="#">{{ heading.text }}</a> <a class="yasmina-page-product__title c:color-dark" href="#"> > {{product.title}}</a></div>

    <div class="row">

      <div class="col-lg-6 d:flex fld:column ai:center pr:30px">
        <a href="#" class="veda-image-cover yasmina-page-product__image d:block w:100%" css="--aspect-ratio: 3/4">
          <img class="w:100%" src="{{ product.featured_image.src | img_url('660x')}}"  alt="">
        </a>
        <button class="w:490px h:60px lh:44px bgc:transparent c:black bd:1px_solid_color-gray4 ai:center jc:center mt:35px fw:500 fz:15px maw:334px ta:center bdrs:0px!"> <i class="far fa-question mr:10px fw:400 fz:15px"> </i>Ask an expert</button>
      </div>
      <div class="col-lg-6">
        <div class="vdoan-page-product__product-info">
          <h3 class="yasmina-page-product__title fz:25px ff:font-primary c:color-dark fw:500">{{product.title}}</h3>
          <div class="d:flex ai:center mt:15px mb:16px c:color-dark fz:15px fw:300">
            <i class="fal fa-star c:#FEAA01 fz:24px"></i>
            <i class="fal fa-star c:#FEAA01 fz:24px"></i>
            <i class="fal fa-star c:#FEAA01 fz:24px"></i>
            <i class="fal fa-star c:#FEAA01 fz:24px"></i>
            <i class="fal fa-star c:#FEAA01 fz:24px mr:5px"></i>
            <div class="c:color-dark fz:15px fw:300">
              {% if comment.articles[0].comments.length == 0 %}
                No reviews
              {% else %}
                {{comment.articles[0].comments.length}} reviews
              {% endif %}
            </div>
          </div>
          <p class="yasmina-page-product__vendor mb:16px ff:font-primary c:color-dark fz:15px fw:300">Vendor: {{product.vendor}}</p>
          <p class="yasmina-page-product__sku mb:16px ff:font-primary c:color-dark fz:15px fw:300">SKU: {{product.variants[0].sku}}</p>
          <p class="yasmina-page-product__availability mb:16px ff:font-primary c:color-dark fz:15px fw:300">Availability: {{product.variants.length}} in stock</p>
          <p class="yasmina-page-product__type mb:16px ff:font-primary c:color-dark fz:15px fw:300">Product Type: {{product.type}}</p>
          <h3 class="yasmina-page-product__price mb:25px fz:25px ff:font-primary c:color-dark fw:500">${{product.price}}</h3>
          <div class="yasmina-page-product__description ff:font-secondary c:color-dark fz:13px fw:300">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et...</div>
          <p class="mb:7px mt:29px ff:font-primary c:color-dark fz:15px fw:300">Color : Black</p>
          <div class="d:flex mb:45px">
            {% for item in product.variants %}
              {% for itemoptioncolor in product.options_with_values %}
                {% if itemoptioncolor.name == "Color" %}
                  {% if item.options[1] == itemoptioncolor.selected_value %}
                    <div class="veda-image-cover w:90px mr:10px" css="--aspect-ratio: 3/4">
                      <img class="bd:1px_solid_color-dark"  src="{{ item.image.src | img_url('660x')}}"  alt="">
                    </div>
                  {% else %}
                    <div class="veda-image-cover w:90px mr:10px" css="--aspect-ratio: 3/4">
                      <img src="{{ item.image.src | img_url('660x')}}"  alt="">
                    </div>
                  {% endif %}
                {% endif %}
              {% endfor %}

            {% endfor %}


          </div>
          <p class="yasmina-page-product__sizes mb:7px ff:font-primary c:color-dark fz:15px fw:300">Size : XS</p>
          <div class="vdoan-page-product__size mb:30px">
            {% for itemoption in product.options_with_values %}
              {% if itemoption.name == "Size" %}
                  {% for item in itemoption.values %}
                    {% if item == itemoption.selected_value %}
                      <div class="vdoan-page-product__size-box d:inline-block w:70px h:34px bd:1px_solid_color-gray2 ta:center lh:34px ff:font-primary fz:15px fw:300 cur:pointer mr:6px">{{item}}</div>
                    {% else %}
                      <div class="vdoan-page-product__size-box d:inline-block w:70px h:34px bd:1px_solid_color-gray2 ta:center lh:34px bgc:color-gray2 ff:font-primary fz:15px fw:300 cur:pointer mr:6px">{{item}}</div>
                    {% endif %}
                  {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="d:flex ai:center">
            <input class="w:85px! h:50px bdrs:0px! ta:center fw:300 fz:15px bd:1px_solid_color-gray4" type="number" value="1">
            <button class="vdoan-btn__primary mah:50px ml:10px mr:10px ff:font-primary bgc:color-dark bd:none! c:color-light p:0px_86px_0px_86px cur:pointer fw:600 bdrs:0px! fz:15px lts:0.15px lh:50px fw:500 bdrs:0px!">ADD TO CART</button>
            <div class="w:50px h:50px bd:1px_solid_color-gray4 d:flex ai:center jc:center mr:10px cur:pointer bgc:color-dark|h c:red|h">
              <i class="far fa-heart fz:15px fw:400"></i>
            </div>
            <div class="w:50px h:50px bd:1px_solid_color-gray4 d:flex ai:center jc:center cur:pointer bgc:color-dark|h c:red|h">
              <i class="fas fa-share-alt fz:15px fw:400"></i>
            </div>
          </div>
          <div class="d:flex ai:center mt:20px">
            <input class="mr:10px" type="checkbox"> <p class="ff:font-primary fz:12px fw:300 c:color-dark">I Agree With The Tearms & Conditions</p>
          </div>

          <button class="w:490px h:60px lh:44px bgc:transparent c:black bd:1px_solid_color-gray4 ai:center jc:center mt:30px fz:15px fw:500 bdrs:0px!">BUY IT NOW</button>
          <div class="d:flex mt:20px ai:center">
            <a href="#"><i class="fas fa-eye mr:10px c:color-dark fw:400"></i></a>
            <p class="fw:300 fz:12px c:color-dark"> 250 customers are viewing this product</p>
          </div>
          <ul class="bdt:1px_solid_#DEDEE9 mt:15px pt:30px">
            <li class="fz:15px fw:300"> <i class="fas fa-check fw:900 fz:15px"></i> PICKUP AVAILABLE AT LOS ANGELES</li>
            <li class="fz:15px pl:18px mt:15px fw:300">Usually ready in 4 hours</li>
            <li class="fz:15px pl:18px mt:15px fw:300">View store info</li>
          </ul>
          <div>
            <a class="fz:15px fw:500" href="#"><h3 class="fz:15px bdt:1px_solid_#DEDEE9 mt:30px pt:30px"><i class="fas fa-plus mr:15px fw:400 fz:15px"></i>SHIPPING & RETURNS</h3></a>
          </div>
          <div>
            <a class="fz:15px fw:500" href="#"><h3 class="fz:15px bdt:1px_solid_#DEDEE9 bdb:1px_solid_#DEDEE9 mt:30px pt:30px pb:30px"><i class="fas fa-plus mr:15px fw:400 fz:15px"></i>CUSTOM PRODUCT TAB</h3></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="vdoan-page-product__description">
        <h2 class="ta:center mt:85px fz:35px mb:17px ff:font-primary c:color-dark fw:600">Description</h2>
        <p class="ta:center fz:15px mb:30px ff:font-secondary c:color-dark fw:400">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <br/>corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui <br/>officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
        </p>
      </div>
      <div class="col-lg-12 d:flex ">
        <div class="w:50% ta:center">
          <img class="w:500px h:467px" src="../../../img/pageproduct1.png" alt="">
        </div>
        <div class="d:flex fld:column jc:center ai:center w:50% ta:center">
          <h5 class="fz:15px ff:font-primary c:color-dark fw:600 mb:15px">LAMCORPER OSTIQUE AMATTIS</h5>
          <h2 class="fz:45px ff:font-primary c:color-dark fw:500 mb:10px">100% Hand-made</h2>
          <p class="fz:15px ff:font-secondary c:color-dark fw:400">Temporibus autem quibusdam et aut officiis debitis aut rerum <br/>necessitatibus saepe eveniet ut et voluptates repudiandae sint et <br/>molestiae non recusandae.</p>
        </div>
      </div>
      <div class="col-lg-12 d:flex mt:30px">
        <div class="d:flex fld:column jc:center ai:center w:50% ta:center">
          <h5 class="fz:15px ff:font-primary c:color-dark fw:600 mb:15px">LAMCORPER OSTIQUE AMATTIS</h5>
          <h2 class="fz:45px ff:font-primary c:color-dark fw:500 mb:10px">Wiloke Shop</h2>
          <p class="fz:15px ff:font-secondary c:color-dark fw:400">Temporibus autem quibusdam et aut officiis debitis aut rerum <br/>necessitatibus saepe eveniet ut et voluptates repudiandae sint et <br/>molestiae non recusandae.</p>
        </div>
        <div class="w:50% ta:center">
          <img class="w:500px h:467px" src="../../../img/pageproduct2.png" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <h2 class="ta:center fz:35px mt:90px fw:600 c:color-dark">Review({{comment.articles[0].comments.length}})</h2>
      <div class="col-lg-6 pr:100px">
        <h4 class="fz:20px fw:500 c:color-dark">{{comment.articles[0].comments.length}} REVIEW FOR TRAIL RUNNING SHOE</h4>
        {% for item in comment.articles[0].comments %}
          <div class="d:flex mt:20px mb:5px ">
            <img class="w:60px h:60px bdrs:30px" src="../../../img/insta1.png" alt="">
            <div class="ml:10px w:90%">
              <h5 class="fz:15px fw:500 c:color-dark">{{item.author}} <span class="fz:12px c:color-gray3 fw:400"> - {{item.created_at}}</span></h5>
              <p class="fz:14px c:color-gray5 ff:font-secondary fw:400">{{item.content}}</p>
              <div class="mt:3px">
                <i class="fas fa-star c:#FFAE35 fz:15px"></i>
                <i class="fas fa-star c:#FFAE35 fz:15px"></i>
                <i class="fas fa-star c:#FFAE35 fz:15px"></i>
                <i class="fas fa-star c:#FFAE35 fz:15px"></i>
                <i class="fas fa-star c:#FFAE35 fz:15px"></i>
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="d:flex jc:flex-start mt:25px">
          <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid_color-dark bgc:color-dark c:color-light cur:pointer mr:5px fw:600">1</div>
          <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid bgc:color-light c:color-dark cur:pointer mr:5px fw:600">2</div>
          <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid bgc:color-light c:color-dark cur:pointer mr:5px fw:600">3</div>
          <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid bgc:color-light c:color-dark cur:pointer mr:5px fw:600">4</div>
          <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid bgc:color-light c:color-dark cur:pointer mr:5px"><i class="fas fa-long-arrow-right"></i></div>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="fz:20px fw:500">WRITE REVIEW</h2>
        <h3 class="fz:15px mt:20px fw:500 c:color-dark ff:font-primary">NAME</h2>
        <input class="bgc:#F2F2F7! c:color-gray4 bd:none! w:641px h:50px bdrs:0px! fz:14px fw:400 fz:14px||placeholder fw:400||placeholder c:color-gray4||placeholder ff:font-primary||placeholder" type="text" placeholder="Enter your name">
        <h2 class="fz:15px mt:20px fw:500 c:color-dark ff:font-primary">EMAIL</h2>
        <input class="bgc:#F2F2F7! c:#929292 bd:none! w:641px h:50px bdrs:0px! fz:14px fz:14px||placeholder fw:400||placeholder c:color-gray4||placeholder ff:font-primary||placeholder" type="text" placeholder="wiloke@example.com">
        <h2 class="fz:15px mt:20px fw:500 c:color-dark ff:font-primary">RATING</h2>
        <div class="mt:3px">
          <i class="fas fa-star c:#C4C4C4"></i>
          <i class="fas fa-star c:#C4C4C4"></i>
          <i class="fas fa-star c:#C4C4C4"></i>
          <i class="fas fa-star c:#C4C4C4"></i>
          <i class="fas fa-star c:#C4C4C4"></i>
        </div>
        <h2 class="fz:15px mt:20px c:color-dark ff:font-primary">BODY REVIEW(1500)</h2>
        <textarea class="bgc:#F2F2F7! c:#929292 bd:none! w:641px h:119px bdrs:0px! ff:font-primary fz:14px fz:14px||placeholder fw:400||placeholder c:color-gray4||placeholder ff:font-primary||placeholder" name="" id="" cols="30" rows="6" placeholder="Write your comments here"></textarea>
        <button class="vdoan-btn__primary maw:236px h:52px mt:30px ml:0px bdrs:0px! fw:500 fz:15px c:color-light! bgc:color-dark! bd:1px_solid_color-dark ff:font-primary">SUBMIT REVIEW</button><br/>
        <input class="fl:left mt:10px ff:font-primary bd:1px_solid_color-gray4" type="checkbox"> <p class="fz:11px fl:left ml:5px mt:10px ff:font-primary fw:400 c:color-gray4">Write your comments here </p>
      </div>
    </div>
    <div class="row jc:center pt:90px">
      <div class="col-lg-10 ta:center bgc:color-dark pt:50px pb:50px">
        <h3 class="c:color-light fz:20px fw:700 mb:24px">Sample Quote</h3>
        <p class="c:color-light fz:15px fw:400 ff:font-secondary">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores <br/>et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est <br/>laborum et dolorum fuga.</p>
      </div>
    </div>
  </div>
</section>
{% include '../../wishlist/wishlistbs/render.twig' %}
<section class="bgc:#F2F2F7 h:300px d:flex fld:column ai:center jc:center ta:center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 d:flex fld:column ai:center jc:center ta:center">
         <h2 class="fz:35px mb:25px fw:500 c:color-dark">Sign-up for LogoNews</h2>
         <p class="fz:15px mb:10px fw:400 c:color-dark">Stay informed about the latest style advice and product launches.<br/> Learn more about our emails and our Privacy Policy.</p>
         <div class="d:flex ai:center jc:center ta:center">
          <input class="h:40px w:283px! bd:none! bgc:color-light! fw:400 fz:9px ff:font-quinary c:color-gray4! bdrs:0px! bgc:color-light!|h fw:400||placeholder fz:9px||placeholder c:color-gray4!||placeholder" type="text" placeholder="Email address">
          <button class="vdoan-btn__primary h:40px fz:12px p:10px_20px_10px_20px ml:10px c:color-light! bgc:color-dark bdrs:0px! bgc:color-dark|h bd:1px_solid_color-dark bd:1px_solid_color-dark!|h ">SUBSCRIBE</button>
         </div>
      </div>
    </div>
  </div>
</section>
