
{% set uniqueId = "id_7faca579-e592-4f42-895e-579e7e1c98c6" %}
{% if general_settings.background_fixed %}
{% set backgroundFixed = 'fixed' %}
{% else %}
{% set backgroundFixed = 'scroll' %}
{% endif %}
{% if general_settings.background_type == 'color' %}
{% set backgroundColor = 'background-color: ' ~  general_settings.background_color ~  ';' %}
{% else %}
{% set backgroundColor = '' %}
{% endif %}
{% if general_settings.background_type == 'image' %}
{% set backgroundImage = 'background-image: url(' ~  general_settings.background_image ~  ');background-attachment: ' ~  backgroundFixed ~  ';background-size: ' ~  general_settings.background_size ~  ';' %}
{% else %}
{% set backgroundImage = '' %}
{% endif %}
{% set sectionPadding = 'padding-top: ' ~  general_settings.padding.top ~  'px;padding-right: ' ~  general_settings.padding.right ~  'px;padding-bottom: ' ~  general_settings.padding.bottom ~  'px;padding-left: ' ~  general_settings.padding.left ~  'px;' %}


<section data-id="insta" class="veda-section" css="{{ backgroundColor }}{{ backgroundImage }}{{ sectionPadding }}">
  {% if general_settings.background_overlay_enable %}
    <div class="pos:absolute ins:0 z:-1" css="background-color: {{ general_settings.background_overlay_color }}"></div>
  {% endif %}
  <div class="container">
    <h3 class="ff:font-primary ta:center mb:45px fz:40px fw:500" css="{{ heading.design }}">{{ heading.text }}</h3>
		<p class="yasmina-insta__description ta:center mt:-24px mb:35px c:color-dark fw:400 lh:23px fz:14px ff:font-secondary lts:0.15px">
      {{ description }}
    </p>
    <div class="row ai:center jc:center">
      {% for item in content %}
        <div class="col-xs-{{column.xs}} col-sm-{{column.sm}} col-md-{{column.md}} col-lg-{{column.lg}}" component="instagram-image">
          <div class="yasmina-insta d:flex jc:center cur:pointer">
            <a href="#" class="veda-image-cover d:block w:100%" css="--aspect-ratio: 0.86">
              <img class="yasmina-insta__img" src={{item.src_image | img_url('')}} alt="insta">
            </a>
          </div>
        </div>
      

{% endfor %}


    </div>

  </div>
</section>
