{% liquid
  if general_settings.background_fixed assign backgroundFixed = 'fixed' else assign backgroundFixed = 'scroll' endif
  if general_settings.background_type == 'color' assign backgroundColor = 'background-color: ' | append: general_settings.background_color | append: ';' else assign backgroundColor = '' endif
  if general_settings.background_type == 'image' assign backgroundImage = 'background-image: url(' | append: general_settings.background_image | append:
  ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: general_settings.background_size | append: ';' else assign backgroundImage = '' endif
  assign sectionPadding = 'padding-top: ' | append: general_settings.padding.top | append: 'px;padding-right: ' | append: general_settings.padding.right | append: 'px;padding-bottom: ' | append: general_settings.padding.bottom | append: 'px;padding-left: ' | append: general_settings.padding.left | append: 'px;'
%}


<section data-id="insta" class="veda-section" css="{{ backgroundColor }}{{ backgroundImage }}{{ sectionPadding }}">
  {% if general_settings.background_overlay_enable %}
    <div class="pos:absolute ins:0 z:-1" css="background-color: {{ general_settings.background_overlay_color }}"></div>
  {% endif %}
  <div class="container">
    <h3 class="ff:font-primary ta:center mb:45px fz:pfs(25px,40px) fw:500" css="{{ heading.design }}">{{ heading.text }}</h3>
		<p class="yasmina-insta__description ta:center mt:-24px mb:35px c:color-dark fw:400 lh:23px fz:14px ff:font-secondary lts:0.15px">
      {{ description }}
    </p>
    <div class="row ai:center jc:center">
      {% for item in content %}
        <div class="col-xs-{{column.xs}} col-sm-{{column.sm}} col-md-{{column.md}} col-lg-{{column.lg}}" component="instagram-image">
          <div class="yasmina-insta d:flex jc:center cur:pointer">
            <a href="#" class="veda-image-cover d:block w:100% ar:0.86" css="--aspect-ratio: 0.86">
              <img class="yasmina-insta__img" src={{item.src_image | img_url: ''}} alt="insta">
            </a>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</section>
