
{% set uniqueId = "id_65f51334-4c93-4231-a869-d9135e6e0982" %}
{% set backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% set backgroundColor = general_settings.background_color_enable ? 'background-color:' ~  general_settings.color ~  ';' : '' %}
{% set backgroundImage = general_settings.background_image_enable ? 'background-image: url(' ~  general_settings.image ~ 
');background-attachment:' ~  backgroundFixed ~  ';background-size:' ~  general_settings.size ~  ';' : '' %}


<section data-id="blogcontainer" class="pt:35px" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="veda-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container maw:1360px">
    <div class="direct fz:15px c:color-gray4 mb:33px">Home > <a href="#" class="c:color-dark">{{ heading.text }}</a></div>
    <div class="row">
      <div class="col-lg-8 pr:50px">
        {% set blog = blogs[content.blog] %}
        {% for item in blog.articles %}
          <div class="blog pb:55px fz:15px">
            <a href="#" class="veda-image-cover d:block w:100%" css="--aspect-ratio: 1.6">
              <img class="yasmina-product-card__image" src={{item.image.src | img_url('769x')}} alt="Blog Img">
            </a>
            <div class="blog__infor mt:20px">
              <a href="#" class="d:inline-block mr:5px c:color-dark"><i class="fal fa-alarm-clock d:inline-block mr:5px cur:pointer"></i>{{item.image.updated_at}}</a>
              <a href="#" class="d:inline-block ml:5px mr:5px c:color-dark"><i class="fal fa-archive d:inline-block ml:5px mr:5px cur:pointer"></i>Tips & Tricks</a>
              <a href="#" class="d:inline-block ml:5px mr:5px c:color-dark"><i class="fal fa-gingerbread-man d:inline-block ml:5px mr:5px cur:pointer"></i>Fashion, store, shopify</a>
            </div>
            <a class="blog__title mb:10px mt:10px fz:35px c:color-dark ff:font-primary fw:500 cur:pointer">{{item.title}}</a>
            <p class="blog__description mb:14px fw:400 ff:font-secondary c:color-dark">{{item.content}}</p>
            <button class="vdoan-btn__primary bgc:color-dark bgc:color-dark!|h bd:none! c:color-light p:20px_81px_20px_81px cur:pointer m:5px_5px_5px_5px fw:600 bdrs:0px! fz:17px lts:0.15px ml:0px!">Read More</button>
          </div>
        {% endfor %}
        <div class="d:flex jc:center">
          <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid_color-dark bgc:color-dark c:color-light cur:pointer mr:5px fw:600">1</div>
          <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid bgc:color-light c:color-dark cur:pointer mr:5px fw:600">2</div>
          <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid bgc:color-light c:color-dark cur:pointer mr:5px fw:600">3</div>
          <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid bgc:color-light c:color-dark cur:pointer mr:5px fw:600">4</div>
          <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid bgc:color-light c:color-dark cur:pointer mr:5px"><i class="far fa-arrow-right"></i></div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
          <div class="product-box w:100% h:auto bd:1px_solid_color-gray3 p:15px_30px_30px_30px">
            {% for item in product_box %}
              {% if item.type == "search" %}
                <div class="product-box__search mb:15px">
                  <h2 class="product-box__title fz:20px fw:500 mb:15px ff:font-primary">Search</h2>
                  <div class="product-box__box-search d:flex ai:center pl:10px bd:1px_solid_color-gray4">
                    <i class="fas fa-search cur:pointer"></i>
                    <input class="h:40px w:90% bd:none! o:none" type="text" placeholder="Tìm kiếm">
                  </div>
                </div>
              {% endif %}
              {% if item.type == "popular-post" %}
                <div class="product-box__popular-post mt:10px mb:10px">
                  <h2 class="product-box__title fz:20px fw:500 mt:15px mb:15px ff:font-primary">Popular Post</h2>
                  <div class="product-box__content fz:15px">
                    {% for item in item.item %}
                      <div class="product-box__box-post mb:30px d:flex jc:center ai:center">
                        <img src={{item.srcImg | img_url('')}} alt="">
                        <p class="ml:20px fw:500 c:color-dark fz:15px">{{item.title}}</p>
                      </div>
                    {% endfor %}
                  </div>
                  <img src="../../img/post4.png" alt="">
                </div>

              {% endif %}
              {% if item.type == "tag" %}
                <div class="product-box__tag mb:30px">
                  <h2 class="product-box__title fz:20px mt:20px fw:500 mb:15px ff:font-primary">Tags</h2>
                  <div class="product-box__content">
                    {% for item in item.item %}
                      <div class="product-box__box-tag d:inline-block bd:1px_solid_color-gray4 p:2px_5px_2px_5px mb:10px ta:center cur:pointer ff:font-primary fz:15px c:color-dark">{{item.name}}</div>
                    {% endfor %}
                  </div>

                </div>
              {% endif %}
              {% if item.type == "newsletter" %}
                <div class="product-box__newsletter">
                  <h2 class="product-box__title fz:20px fw:500 mb:15px ff:font-primary">Newsletter Signup</h2>
                  <div class="product-box__content">
                    <p class="fz:13px ff:font-secondary c:color-dark">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint.</p>
                    <div class="product-box__box-newsletter mt:10px d:flex flw:nowrap w:100% h:43px bd:1px_solid_color-gray3 mt:20px">
                      <input class="bd:none! o:none w:70% h:100% bdend:1px_solid_gray3!" type="text" placeholder="Your email">
                      <button class="btn bdrs:0 w:30% h:100% bgc:color-dark bgc:color-dark!|h c:color-light bd:none">GET!</button>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

          </div>

        </div>
      </div>
    </div>

  </div>
</section>

