{% liquid
  if general_settings.background_fixed assign backgroundFixed = 'fixed' else assign backgroundFixed = 'scroll' endif
  if general_settings.background_type == 'color' assign backgroundColor = 'background-color: ' | append: general_settings.background_color | append: ';' else assign backgroundColor = '' endif
  if general_settings.background_type == 'image' assign backgroundImage = 'background-image: url(' | append: general_settings.background_image | append:
  ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: general_settings.background_size | append: ';' else assign backgroundImage = '' endif
  assign sectionPadding = 'padding-top: ' | append: general_settings.padding.top | append: 'px;padding-right: ' | append: general_settings.padding.right | append: 'px;padding-bottom: ' | append: general_settings.padding.bottom | append: 'px;padding-left: ' | append: general_settings.padding.left | append: 'px;'
%}


<section data-id="blogcontainer" css="{{ backgroundColor }}{{ backgroundImage }}{{ sectionPadding }}">
  {% if general_settings.background_overlay_enable %}
    <div class="pos:absolute ins:0 z:-1" css="background-color: {{ general_settings.background_overlay_color }}"></div>
  {% endif %}
  <div class="container maw:1360px">
    <div class="direct fz:15px c:color-gray4 mb:33px">
      <shopify>
        {% unless request.page_type == 'index' or request.page_type == 'list-collections' %}
          <nav role="navigation" aria-label="breadcrumbs">
              <a href="{{ routes.root_url }}" title="Home">Home</a>
              {% if request.page_type contains 'page' %}
                <span aria-hidden="true">/</span>
                <span>{{ page.title }}</span>
              {% elsif request.page_type contains 'product' %}
                {% if collection.url %}
                  <span aria-hidden="true">/</span>
                  {{ collection.title | link_to: collection.url }}
                {% endif %}
                <span aria-hidden="true">/</span>
                <span>{{ product.title }}</span>
              {% elsif request.page_type contains 'collection' and collection.handle %}
                <span aria-hidden="true">/</span>
                {% if current_tags %}
                  {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
                  {{ collection.title | link_to: url }}
                  <span aria-hidden="true">/</span>
                  <span>{{ current_tags | join: " + " }}</span>
                {% else %}
                  <span>{{ collection.title }}</span>
                {% endif %}
              {% elsif request.page_type == 'blog' %}
                <span aria-hidden="true">/</span>
                {% if current_tags %}
                  {{ blog.title | link_to: blog.url }}
                  <span aria-hidden="true">/</span>
                  <span>{{ current_tags | join: " + " }}</span>
                {% else %}
                  <span>{{ blog.title }}</span>
                {% endif %}
              {% elsif request.page_type == 'article' %}
                <span aria-hidden="true">/</span>
                {{ blog.title | link_to: blog.url }}
                <span aria-hidden="true">/</span>
                <span>{{ article.title }}</span>
              {% elsif request.page_type == 'cart' %}
                <span aria-hidden="true">/</span>
                <span>Cart</span>
              {% else %}
                <span aria-hidden="true">/</span>
                <span>{{ page_title }}</span>
              {% endif %}
          </nav>
        {% endunless %}
      </shopify>
    </div>
    <div class="row">
      <div class="col-xs-11 col-sm-11 col-md-9 col-lg-9 pr:50px@md">
        {% assign blog = blogs[content.blog] %}
        {% for item in blog.articles limit: 4 %}
          <div class="blog pb:55px fz:15px">
            <a href="#" class="veda-image-cover d:block w:100%" css="--aspect-ratio: 1.6">
              <img class="product-card-image-js" src={{item.image.src | img_url: '769x'}} alt="Blog Img">
            </a>
            <div class="blog__infor mt:20px mb:13px">
              <a href="#" class="d:inline-block mr:25px c:color-dark fz:15px fw:400 ff:font-primary"><i class="fal fa-alarm-clock fz:14px d:inline-block mr:5px cur:pointer"></i>{{item.image.updated_at | date: "%b %d, %Y"}}</a>
              <a href="#" class="d:inline-block mr:25px c:color-dark fz:15px fw:400 ff:font-primary"><i class="fal fa-archive fz:14px d:inline-block mr:5px cur:pointer"></i>Tips & Tricks</a>
              <a href="#" class="d:inline-block mr:25px c:color-dark fz:15px fw:400 ff:font-primary"><i class="fal fa-gingerbread-man fz:14px d:inline-block mr:5px cur:pointer"></i>Fashion, store, shopify</a>
            </div>
            <a class="blog__title mb:10px mt:10px fz:pfs(20px,35px) c:color-dark ff:font-primary fw:500 cur:pointer tt:capitalize">{{item.title | capitalize }}</a>
            <p class="blog__description fz:14px fw:400 ff:font-secondary c:color-dark mt:3px lh:24px">{{item.content | truncatewords: 100}}</p>
            <button class="ff:font-primary bgc:color-dark bgc:color-dark!|h bd:none! c:color-light pt:17px pb:17px pr:pfs(15px,81px) pl:pfs(15px,81px) cur:pointer m:22px_5px_5px_5px fw:500 bdrs:0px! fz:pfs(12px,15px) lts:0.15px ml:0px!">{{content.read_more_text}}</button>
          </div>
        {% endfor %}
        <div class="d:flex jc:center">
          <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid_color-gray9 bgc:color-dark c:color-light cur:pointer mr:5px fw:600">1</div>
          <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid_#DEDEE9 bgc:color-light c:color-dark cur:pointer mr:5px fw:600">2</div>
          <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid_#DEDEE9 bgc:color-light c:color-dark cur:pointer mr:5px fw:600">3</div>
          <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid_#DEDEE9 bgc:color-light c:color-dark cur:pointer mr:5px fw:600">4</div>
          <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid_#DEDEE9 bgc:color-light c:color-dark cur:pointer mr:5px"><i class="far fa-arrow-right"></i></div>
        </div>
      </div>
      <div class="col-xs-11 col-sm-11 col-md-3 col-lg-3 d:flex jc:center">
        <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-2 row-cols-1">
          <div class="product-box maw:330px w:100% h:fit-content bd:1px_solid_color-gray2 p:15px_30px_30px_30px">
            {% if search_enable %}
              <form action="{{ routes.search_url }}">
                <div class="product-box__search mb:15px">
                  <h2 class="product-box__title fz:20px fw:500 mb:15px ff:font-primary">{{search_text}}</h2>
                  <div class="product-box__box-search d:flex ai:center bd:1px_solid_color-gray2">
                    <button class="p:10px bd:1px_solid_color-light bd:1px_solid_color-light|h! bgc:color-light! c:color-gray9! bgc:color-light|h! c:color-gray9|h!" type="submit"><i class="fal fa-search cur:pointer"></i></button>
                    <input class="h:40px! w:90%! bd:none! o:none c:color-gray4 fz:15px c:color-gray4||placeholder pl:0px! fz:15px||placeholder" type="text"
                    placeholder="{{search_placeholder}}"
                    name="q"
                    value="{{ search.terms | escape }}"
                    />
                    <input type="hidden" name="type" value="product,page" />
                    <input type="hidden" name="options[unavailable_products]" value="hide" />
                    <input type="hidden" name="options[prefix]" value="last" />
                  </div>
                </div>
              </form>
            {% endif %}
            {% if popular_post_enable %}
              <div class="product-box__popular-post mt:10px mb:10px">
                <h2 class="product-box__title fz:20px fw:500 mt:15px mb:15px ff:font-primary">{{popular_post_text}}</h2>
                <div class="product-box__content fz:15px d:flex fld:column ai:flex-start">
                  {% assign blog = blogs[content.blog] %}
                  {% for item in blog.articles %}
                    <a href="#" class="product-box__box-post mb:20px d:flex jc:center ai:flex-start">
                      <div class="w:64px ar:1.28">
                        <img class="w:100%" src={{item.image.src | img_url: '100x'}} alt="">
                      </div>
                      <div class="w:80% ml:10px fw:500 c:color-dark fz:15px tt:lowercase">{{item.title | truncate: 50 | capitalize}}</div>
                    </a>
                  {% endfor %}
                </div>
                <a href="#" class="veda-image-cover d:block" css="--aspect-ratio: 1.6">
                  <img class="product-card-image-js" src="../../img/post4.png">
                </a>
              </div>
            {% endif %}
            {% if tag_enable %}
              <div class="product-box__tag mb:30px">
                <h2 class="product-box__title fz:20px mt:20px fw:500 mb:15px ff:font-primary">Tags</h2>
                <div class="yasmina-product-box__tags d:flex flw:wrap">
                  {% for tag in blog.all_tags %}
                    <div class="d:flex pos:relative ai:center h:28px jc:center mr:5px ta:center cur:pointer ff:font-primary fz:15px p:2px_5px_2px_5px mb:10px">
                        <label class="w:100% h:28px cur:pointer cur:pointer d:flex jc:center">
                            <input class="yasmina-filter-input-tag pos:absolute v:hidden" type="checkbox" name="filter.blog.tag" value="{{ tag }}" data-label="{{tag | downcase}}"/>
                            <div class="pos:absolute w:100% h:100% bd:1px_solid_color-gray2"></div>
                            <span class="ta:center lh:28px fz:15px fw:400 c:color-gray9">{{ tag }}</span>
                        </label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
            {% if newsletter_enable %}
              <div class="product-box__newsletter">
                <h2 class="product-box__title fz:20px fw:500 mb:15px ff:font-primary">{{newsletter_text}}</h2>
                <div class="product-box__content">
                  <p class="fz:13px ff:font-secondary c:color-dark">{{newsletter_description}}</p>
                  {% form 'customer' %}
                    <div class="product-box__box-newsletter mt:10px d:flex flw:nowrap w:100% h:43px bd:1px_solid_color-gray2 mt:20px">
                      {% if form.errors %}
                        {% for field in form.errors %}
                          <div>
                            <p>{{ field }} {{ form.errors.messages[field] }}</p>
                          </div>
                        {% endfor %}
                      {% endif %}
                      {% if form.posted_successfully? %}
                        <div>
                          <p>Thanks for Signup!</p>
                        </div>
                      {% else %}
                        <input type="hidden" name="contact[tags]" value="newsletter" />
                        <input class="bd:none! o:none w:pfs(55%,70%) h:100% bdend:1px_solid_gray3! c:color-gray3 c:color-gray3||placeholder! fz:15px! fz:pfs(12px,15px)||placeholder! fw:400 fw:400||placeholder! ff:font-primary!" type="text" placeholder="Your email" name="contact[email]"
                        autocorrect="off" autocapitalize="off">
                        <button class="fz:pfs(12px,15px) fw:500 ff:font-primary bdrs:0 h:100% bgc:color-dark bgc:color-dark!|h c:color-light bd:none ta:center" type="submit" aria-label="get">GET!</button>
                        <p class="result"></p>
                        <p class="result-error"></p>
                      {% endif %}
                    </div>
                  {% endform %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

