{% assign backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% assign backgroundColor = general_settings.background_color_enable ? 'background-color:' | append: general_settings.color | append: ';' : '' %}
{% assign backgroundImage = general_settings.background_image_enable ? 'background-image: url(' | append: general_settings.image | append:
');background-attachment:' | append: backgroundFixed | append: ';background-size:' | append: general_settings.size | append: ';' : '' %}

<section data-id="collections" data-shopify-id="{{ section.id }}" class="petify-section pos:relative z:1 pt:50px pb:50px bgz:cover bgp:center" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="core-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <shopify>
    <div class="container">
      <div class="row">
        {%- comment -%}
          Sidebar
        {%- endcomment -%}
        <div class="col-md-3">
          {% assign my_collection = collections[content.collection] %}
          {% assign collection_prs = my_collection.products %}
          {% assign arr_price = collection_prs | map:'price_min' | uniq | sort %}
          {% assign min_price = arr_price | first %}
          {% assign max_price = arr_price | last %}

          <form class="petify-filter-form pos:relative bd:1px_solid_color-gray2 bdrs:10px p:30px mb:30px">
            {% if availability.enable %}
              <div class="mb:30px">
                <h3 class="fz:25px pb:10px" css="{{ availability.title_design }}">{{ availability.title }}</h3>
                <div>
                  <label class="veda-radio d:flex ai:center cur:pointer mb:15px" style="--size: 16px;--color: var(--color-tertiary)">
                    <div class="veda-radio__inner">
                      <input type="radio" name="filter.v.availability" value="1" />
                      <div class="veda-radio__track">
                        <i class="far fa-check"></i>
                      </div>
                    </div>
                    <span class="ml:10px" css="{{ availability.in_stock_design }}">{{ availability.in_stock_text }}</span>
                  </label>
                  <label class="veda-radio d:flex ai:center cur:pointer" style="--size: 16px;--color: var(--color-tertiary)">
                    <div class="veda-radio__inner">
                      <input type="radio" name="filter.v.availability" value="0" {% if availability == "0" %}checked{% endif %} />
                      <div class="veda-radio__track">
                        <i class="far fa-check"></i>
                      </div>
                    </div>
                    <span class="ml:10px" css="{{ availability.out_of_stock_design }}">{{ availability.out_of_stock_text }}</span>
                  </label>
                </div>
              </div>
            {% endif %}
            {% if price.enable %}
              <div class="mb:30px">
                <h3 class="fz:25px pb:10px" css="{{ price.title_design }}">{{ price.title }}</h3>
                <div>
                  <div class="veda-slider petify-price-range" data-options="{ min: {{ min_price }}, max: {{ max_price }} }">
                    <div class="veda-slider__thumb" data-index="0"></div>
                    <div class="veda-slider__thumb" data-index="1"></div>
                    <div class="veda-slider__track"></div>
                    <div class="veda-slider__tracked"></div>
                  </div>
                  <div class="mt:20px mb:10px">
                    <span>{{ price.price_text }}: {{ min_price | times:100 | money }} - {{ max_price | times:100 | money }}</span>
                  </div>
                  <div class="d:flex">
                    <div class="w:100% mr:10px">
                      <input type="number" data-button="disabled" placeholder="{{ price.from_text }}" name="filter.v.price.gte" value="{{ min_price }}" min="{{ min_price }}" max="{{ max_price }}" class="h:40px! w:100%! bdrs:20px! appearance:none! bd:1px_solid_color-gray3!">
                    </div>
                    <div class="w:100% ml:10px">
                      <input type="number" data-button="disabled" placeholder="{{ price.to_text }}" name="filter.v.price.lte" value="{{ max_price }}" min="{{ min_price }}" max="{{ max_price }}" class="h:40px! w:100%! bdrs:20px! bd:1px_solid_color-gray3!">
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}

            {% if color.enable %}
              <div class="mb:30px">
                <h3 class="fz:25px pb:10px" css="{{ color.title_design }}">{{ color.title }}</h3>
                <div>
                  {% assign tag_colors = color.colors | split: "," %}
                  {% for tag_color in tag_colors %}
                    <label class="veda-checkbox d:flex ai:center cur:pointer mb:15px" style="--size: 16px;--color: var(--color-tertiary)">
                      <div class="veda-checkbox__inner">
                        <input type="checkbox" name="filter.v.option.color" value="{{ tag_color }}" />
                        <div class="veda-checkbox__track">
                          <i class="far fa-check"></i>
                        </div>
                      </div>
                      <span class="ml:10px">{{ tag_color }}</span>
                    </label>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </form>
        </div>

        {%- comment -%}
          Content
        {%- endcomment -%}
        <div class="col-md-9">
          <div class="veda-select petify-sort-by">
            <div class="veda-select__view">
              <div class="veda-select__label"></div>
            </div>
            <div class="veda-select__options">
              {% for option in my_collection.sort_options %}
                <div class="veda-select__option" value="{{ option.name | escape }}" selected="true">{{ option.value | escape }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </shopify>
</section>
