{% assign backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% assign backgroundColor = general_settings.background_color_enable ? 'background-color:' | append: general_settings.color | append: ';' : '' %}
{% assign backgroundImage = general_settings.background_image_enable ? 'background-image: url(' | append: general_settings.image | append:
');background-attachment:' | append: backgroundFixed | append: ';background-size:' | append: general_settings.size | append: ';' : '' %}


<section data-id="shoppage" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="veda-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container pt:35px">
    <div class="direct fz:15px c:color-gray4">Home > <a href="#" class="c:color-dark">{{ heading.text }}</a></div>
    <div class="view-as mb:20px d:flex ai:center mt:30px fz:15px c:color-dark">
      View as:
      <a href="#" class="bd:1px_solid p:0px_5px_0px_5px c:color-gray2! ml:10px"><i class="shop-page__view shop-page__view1 fal fa-list"></i></a>
      <a href="#" class="bd:1px_solid p:0px_5px_0px_5px c:color-dark ml:10px"><i class="shop-page__view shop-page__view2 fas fa-th c:color-dark"></i></a>
      <div class="d:flex whs:nowrap ai:center ml:400px">
        <p class="mr:10px fz:15px fw:500">Sort by</p>
        <select class="h:40px w:190px" name="" id="">
           <option value="a">Featured</option>
           <option value="a">Best selling</option>
           <option value="a">Alphabetically, A-Z</option>
           <option value="a">Alphabetically, Z-A</option>
           <option value="a">Price, high to low</option>
           <option value="a">Date, old to new</option>
        </select>
      </div>
    </div>
    <div class="row mt:20px">
      <div class="col-lg-8 shop-page1 pr:88px">
        <div class="row">
          {% assign collection = collections[content.collection] %}
          <script class="product-all-data" type="application/json">{{ collection.products | json }}</script>
          {% for product in collection.products limit: 9 %}
            <div class="col-lg-4">
              <div class="product-card d:flex fld:column ai:center ta:center mb:15px pb:15px">
                <script class="product-card__data" type="application/json">{{ product | json }}</script>
                <div class="product-card__img w:100% pos:relative ov:hidden">
                  <div class="pet-product-card__image">
                    <a href="#" class="veda-image-cover d:block" css="--aspect-ratio: 3/4">
                      <img class="product-card__image" src="{{ product.featured_image.src | img_url: '400x' }}" alt="{{ product.title }}">
                    </a>
                  </div>
                  <div class="product-card__add-content pos:absolute b:0 l:0 w:100% bgc:color-dark h:50px trf:translateY(50px) trs:all_0.3s ta:center lts:0.15px fw:600 fz:17px">
                    <a class="product-card__add cur:pointer pos:absolute td:none w:100% h:100% va:middle lh:50px t:50% l:50% trf:translate(-50%,-50%) c:color-light">{{content.add_to_cart_text}}</a>
                  </div>
                  <div class="product-card__state pos:absolute t:5px l:5px d:flex">
                    {% if product.compare_at_price > product.price and content.sale.enable %}
                      <div class="product-card__sale d:flex jc:center ai:center w:60px h:30px bgc:#219653 mr:5px bdrs:2px">
                        <p class="fz:16px pos:absolute z:10 fw:600 c:color-light">{{ content.sale.text }}</p>
                      </div>
                    {% endif %}
                  </div>
                  <div class="product-card__status pos:absolute t:10px r:10px w:35px h:127px">
                    <div class="product-card__icon-bg cur:pointer" data-tooltip="Add to wishlist" data-tooltip-position="left" data-tooltip-active="false" data-tooltip-text="Add to wishlist" data-tooltip-active-text="Added to wishlist">
                      <i class="fal fa-heart"></i>
                    </div>
                    <div class="product-card__icon-bg--hidden cur:pointer" data-tooltip="Quick view" data-tooltip-position="left" >
                      <i class="far fa-eye"></i>
                    </div>
                    <div class="product-card__icon-bg--hidden cur:pointer" data-tooltip="Compare to other products" data-tooltip-position="left" data-tooltip-active="false" data-tooltip-text="Add to compare" data-tooltip-active-text="Added to compare">
                      <i class="fal fa-repeat"></i>
                    </div>
                  </div>
                </div>


                <div class="product-card__content d:flex fld:column jc:center ai:center">
                  <div class="product-card__brand c:color-gray5 mt:11px">{{product.vendor}}</div>
                  <a class="product-card__name fz:16px mt:15px c:color-dark" href="#">{{product.title}}</a>
                  <a class="product-card__price mt:14px" href="#">
                    <ins class="product-card__cost fw:500 fz:15px c:color-primary td:none">${{ product.price }}</ins>
                    {% if product.compare_at_price > product.price %}
                      <del class="product-card__cost--before fw:500 fz:15px c:#9E9E9E">${{ product.compare_at_price }}</del>
                    {% endif %}
                  </a>
                  {%- comment -%}
                  {% for option in product.options_with_values %}
                      {% if option.name == 'Color' or option.name == 'Colour' %}
                        <script class="product-card__colors" type="application/json">{{ option.values | json }}</script>
                        <script type="application/json">{{ product.variants | json }}</script>
                      {% endif %}
                  {% endfor %}
                  {%- endcomment -%}

                  <div class="product-card__color d:flex">
                    <div class="circle__active--yellow"></div>
                    <div class="circle--blue"></div>
                    <div class="circle--violet"></div>
                    <div class="circle--plus">+1</div>
                    </div>

                </div>
              </div>
            </div>
          {% endfor %}

          <div class="col-md-12 mb:140px">
            <div class="row row-cols-lg-{{ content.column.lg }} row-cols-md-3 row-cols-sm-2 row-cols-1" component="content">
              <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid_color-dark bgc:color-dark c:color-light cur:pointer mr:5px fw:600">1</div>
              <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid bgc:color-light c:color-dark cur:pointer mr:5px fw:600">2</div>
              <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid bgc:color-light c:color-dark cur:pointer mr:5px fw:600">3</div>
              <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid bgc:color-light c:color-dark cur:pointer mr:5px fw:600">4</div>
              <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid bgc:color-light c:color-dark cur:pointer mr:5px"><i class="fas fa-long-arrow-right"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
          <div class="product-box w:100% h:auto bd:1px_solid_color-gray3 p:15px_20px_30px_20px">
            {% for item in product_box %}
              {% if item.type == "search" %}
                <div class="product-box__search mb:15px">
                  <h2 class="product-box__title fz:20px fw:500 mb:15px ff:font-primary">Search</h2>
                  <div class="product-box__box-search d:flex ai:center pl:10px bd:1px_solid_color-gray3">
                    <i class="fal fa-search cur:pointer"></i>
                    <input class="h:40px w:90% bd:none! o:none" type="text" placeholder="Tìm kiếm">
                  </div>
                </div>
              {% endif %}
              {% if item.type == "refine" %}
                <div class="product-box__refine mb:30px pos:relative">
                  <h2 class="product-box__title fz:20px fw:500 mb:15px ff:font-primary">Refine By</h2>
                  <div class="product-box__content">
                    {% for item in item.item %}
                      <div class="product-box__box-refine pos:relative d:inline-block bd:1px_solid_color-gray4 w:fit-content p:2px_25px_2px_5px cur:pointer c:color-gray3 ff:font-primary">
                        {{item.name}}
                        <i class="far fa-times pos:absolute t:50% r:1% trf:translate(-50%,-50%) cur:pointer"></i>
                      </div>
                    {% endfor %}
                    <a class="c:color-dark pos:absolute t:5px r:0 ff:font-primary" href="#">Clear All</a>
                  </div>

                </div>
              {% endif %}
              {% if item.type == "category" %}
                <div class="product-box__category mb:30px">
                  <h2 class="product-box__title fz:20px fw:500 mb:15px ff:font-primary">Categories</h2>
                  <ul class="list:unset pl:15px">
                    {% for item in item.item %}
                      <li class="mb:5px">
                        <a class="c:color-dark fz:15px ff:font-primary" href="#">{{item.name}}</a>
                      </li>
                    {% endfor %}

                  </ul>
                </div>
              {% endif %}
              {% if item.type == "color" %}
                <div class="product-box__color mb:30px">
                  <h2 class="product-box__title fz:20px fw:500 mb:15px ff:font-primary">Màu sắc</h2>
                  <div class="product-box__content">
                    <div class="yasmina-circle__active d:inline-block w:50px h:50px bdrs:25px m:10px_6px_0px_6px cur:pointer p:4px bgcp:content-box bgc:#FFD860 bd:1px_solid_color-dark"></div>
                    <div class="yasmina-circle d:inline-block w:50px h:50px bdrs:25px m:10px_6px_0px_6px cur:pointer bgc:blue bd:none"></div>
                    <div class="yasmina-circle d:inline-block w:50px h:50px bdrs:25px m:10px_6px_0px_6px cur:pointer bgc:red bd:none"></div>
                    <div class="yasmina-circle d:inline-block w:50px h:50px bdrs:25px m:10px_6px_0px_6px cur:pointer bgc:green bd:none"></div>
                    <div class="yasmina-circle d:inline-block w:50px h:50px bdrs:25px m:10px_6px_0px_6px cur:pointer bgc:blue bd:none"></div>
                    <div class="yasmina-circle d:inline-block w:50px h:50px bdrs:25px m:10px_6px_0px_6px cur:pointer bgc:red bd:none"></div>
                    <div class="yasmina-circle d:inline-block w:50px h:50px bdrs:25px m:10px_6px_0px_6px cur:pointer bgc:green bd:none"></div>
                  </div>

                </div>
              {% endif %}
              {% if item.type == "size" %}
                <div class="product-box__size mb:30px">
                  <h2 class="product-box__title fz:20px fw:500 mb:15px ff:font-primary">Size</h2>
                  <div class="product-box__content-size d:flex">
                    {% for item in item.item %}
                      <div class="d:flex ai:center jc:center w:40px h:40px bd:1px_solid_color-gray4 p:5px mr:5px ta:center cur:pointer ff:font-primary fz:15px">{{item.name}}</div>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
              {% if item.type == "brand" %}
                <div class="product-box__category mb:30px">
                  <h2 class="product-box__title fz:20px fw:500 mb:15px ff:font-primary">Categories</h2>
                  <ul class="list:unset pl:15px">
                    {% for item in item.item %}
                      <li class="mb:5px">
                        <a class="c:color-dark fz:15px ff:font-primary" href="#">{{item.name}}</a>
                      </li>
                    {% endfor %}

                  </ul>
                </div>
              {% endif %}
              {% if item.type == "filter" %}
                <div class="product-box__filter mb:30px">
                  <h2 class="product-box__title fz:20px fw:500 mb:15px ff:font-primary">Filter</h2>
                  <input type="range" multiple min="0" step="1" max="10" data-values="1 9">
                </div>
              {% endif %}
              {% if item.type == "availability" %}
                <div class="product-box__availability mb:30px">
                  <h2 class="product-box__title fz:20px fw:500 mb:15px ff:font-primary">Availability</h2>
                  <ul class="list:unset pl:15px">
                    {% for item in item.item %}
                      <li class="mb:5px">
                        <a class="c:color-dark ff:font-primary" href="#">{{item.name}}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
              {% if item.type == "tag" %}
                <div class="product-box__tag mb:30px">
                  <h2 class="product-box__title fz:20px fw:500 mb:15px ff:font-primary">Tags</h2>
                  <div class="product-box__content">
                    {% for item in item.item %}
                      <div class="product-box__box-tag d:inline-block bd:1px_solid_color-gray4 p:2px_5px_2px_5px mb:10px ta:center cur:pointer ff:font-primary fz:15px">{{item.name}}</div>
                    {% endfor %}
                  </div>

                </div>
              {% endif %}
            {% endfor %}


          </div>

        </div>
      </div>
      {%- comment -%}
      <div class="col-lg-8 pl:40px shop-page2">
        <div class="row row-cols-lg-12 row-cols-md-12 row-cols-sm-12 row-cols-12 pr:90px" component="content">
          {% assign collection = collections[content.collection] %}

          {% for product in collection.products limit: 4 %}
            <div class="product-card fld:row ">
              <div class="product-card__img w:30%">
                <div class="pet-product-card__image">
                  <a href="#" class="veda-image-cover d:block" css="--aspect-ratio: 3/4">
                    <img src="{{ product.featured_image.src | img_url: '250x' }}" alt="{{ product.title }}">
                  </a>
                </div>

                <div class="product-card__state">
                  {% if product.compare_at_price > product.price and content.sale.enable %}
                    <div class="product-card__sale">
                      <p>{{ content.sale.text }}</p>
                    </div>
                  {% endif %}
                </div>
                <div class="product-card__status">
                  <div class="product-card__icon-bg" data-tooltip="Add to wishlist" data-tooltip-position="left">
                    <i class="far fa-heart"></i>
                  </div>
                  <div class="product-card__icon-bg--hidden" data-tooltip="Quick view" data-tooltip-position="left">
                    <i class="far fa-eye"></i>
                  </div>
                  <div class="product-card__icon-bg--hidden" data-tooltip="Compare to other products" data-tooltip-position="left">
                    <i class="fas fa-compress"></i>
                  </div>
                </div>
              </div>


              <div class="product-card__content w:70% ai:flex-start h:100% jc:flex-start pl:30px">
                <div class="product-card__brand">{{product.vendor}}</div>
                <a class="product-card__name" href="#">{{product.title}}</a>
                <a class="product-card__price" href="#">
                  <ins class="product-card__cost">${{ product.price }}</ins>
                  {% if product.compare_at_price > product.price %}
                    <del class="product-card__cost--before">${{ product.compare_at_price }}</del>
                  {% endif %}
                </a>
                <div class="product-card__color">
                  <div class="circle__active--yellow"></div>
                  <div class="circle--blue"></div>
                  <div class="circle--violet"></div>
                  <div class="circle--plus">+1</div>
                  </div>
                <div class="ta:left mt:30px">
                  {{collection.description}}
                </div>
                <div class="product-card__add pos:static trf:translateY(0) mt:25px w:250px">
                  <a href="#">{{content.add_to_cart_text}}</a>
                </div>


              </div>
            </div>
          {% endfor %}
        </div>

      </div>
      {%- endcomment -%}



    </div>


  </div>
</section>
