
{% set uniqueId = "id_ceaacff3-206b-454c-9bd5-00699b0cee0f" %}
{% set backgroundFixed = general_settings.fixed ? 'fixed' : 'scroll' %}
{% set backgroundColor = general_settings.background_color_enable ? 'background-color:' ~  general_settings.color ~  ';' : '' %}
{% set backgroundImage = general_settings.background_image_enable ? 'background-image: url(' ~  general_settings.image ~ ');background-attachment:' ~  backgroundFixed ~  ';background-size:' ~  general_settings.size ~  ';' : '' %}


<section data-id="shoppage" css="{{ backgroundColor }}{{ backgroundImage }}">
  <div class="veda-overlay" css="background-color: {{ general_settings.overlay }}"></div>
  <div class="container pt:35px">
    <div class="direct fz:15px c:color-gray4"><a href="/" class="c:color-gray4">Home</a> > <a href="/product.html" class="c:color-dark">{{ heading.text }}</a></div>
    <div class="view-as mb:20px d:flex ai:center mt:30px fz:15px c:color-dark flw:wrap">
      View as:
      <a href="#" class="yasmina-page-product-view-as1 p:0px_5px_0px_5px bd:1px_solid_color-gray2 c:color-gray2 c:color-gray2!|h ml:10px"><i class="shop-page__view shop-page__view1 fal fa-list"></i></a>
      <a href="#" class="yasmina-page-product-view-as2 p:0px_5px_0px_5px bd:1px_solid_color-gray9  c:color-gray9 c:color-gray9!|h ml:10px"><i class="shop-page__view shop-page__view2 fas fa-th"></i></a>
      

          {% set searchParams %}
          {% set pageUrlWithHost = content_for_header | split('"pageurl":"')| last | split('"')| first | replace('\/','/')| replace('%20',' ')| replace('\u0026','&')%}

          {{ pageUrlWithHost | split("?")| last }}

          {% endset %}


          {{ searchParams }}



          {% set filters = searchParams | split("&")%}
          {% for filter in filters %}
          {% set filterKey = filter | split("=")| first | url_decode | trim %}
          {% set filterValue = filter | split("=")| last | url_decode | trim %}
          
            {% if filterKey == "sort_by" %}
              {% set sort_by = filterValue %}
          
{% endif %}

          

{% endfor %}



          {% set my_collection = collections[content.collection] %}

          {% set collection_prs = my_collection.products %}
          {% set arr_price = collection_prs | map('price_min')| uniq | sort %}
          {% set min_price = arr_price | first %}
          {% set max_price = arr_price | last %}

          {% set tag_colors = 'red,white,green,blue,black,gray'%}
          {% set tag_sizes = 'XS,S,M,L,XL'%}
          <form id="filter_form" class="filter_form">
            <div class="d:flex whs:nowrap ai:center ml:10px ml:455px@md pos:relative mt:10px mt:0px@md filter_field sort_by pos:relative">
              <p class="mr:10px fz:15px fw:500">Sort by</p>
              <div class="veda-select">
                <div class="veda-select__view w:190px h:43px bd:1px_solid_color-gray3 pl:15px cur:pointer d:flex ai:center">
                  <div class="veda-select__label w:150px cur:pointer d:flex ai:center fz:15px fw:400 c:color-gray4"></div>
                  <i class="fal fa-angle-down"></i>
                </div>
                <div class="veda-select__options select-custom pos:absolute t:50px w:190px z:100 bgc:color-light bd:1px_solid_color-gray3">
                <div class="veda-select__option select-custom__item w:188px h:43px fz:15px fw:400 pl:15px cur:pointer bgc:color-gray3!|h d:flex ai:center bd:none!" value="featured" selected>Featured</div>
                <div class="veda-select__option select-custom__item w:188px h:43px fz:15px fw:400 pl:15px cur:pointer bgc:color-gray3!|h d:flex ai:center bd:none!" value="best selling">Best selling</div>
                <div class="veda-select__option select-custom__item w:188px h:43px fz:15px fw:400 pl:15px cur:pointer bgc:color-gray3!|h d:flex ai:center bd:none!" value="alphabetically,a-z">Alphabetically, A-Z</div>
                <div class="veda-select__option select-custom__item w:188px h:43px fz:15px fw:400 pl:15px cur:pointer bgc:color-gray3!|h d:flex ai:center bd:none!" value="alphabetically,z-a">Alphabetically, Z-A</div>
                <div class="veda-select__option select-custom__item w:188px h:43px fz:15px fw:400 pl:15px cur:pointer bgc:color-gray3!|h d:flex ai:center bd:none!" value="price">Price, high to low</div>
                <div class="veda-select__option select-custom__item w:188px h:43px fz:15px fw:400 pl:15px cur:pointer bgc:color-gray3!|h d:flex ai:center bd:none!" value="date">Date, old to new</div>
                </div>
              </div>
              <input class="yasmina-sort-by-value pos:absolute b:100% l:0 v:hidden" name="sort_by" type="text" value="Featured">
            </div>
          </form>
        

    </div>
    <div data-id="products" class="row mt:20px ">
      <div class="col-lg-9 shop-page1 pr:40px@md d:block">
        <div class="row">
          {% set collection = collections[content.collection] %}
          <script class="product-all-data" type="application/json">{{ collection.products | json_encode()}}</script>
          {% for product in collection.products | slice(0, 9) %}
            <div class="col-lg-4">
              <div class="yasmina-product-card d:flex fld:column ai:center ta:center mb:15px pb:15px">
                <script class="yasmina-product-card__data" type="application/json">{{ product | json_encode()}}</script>
                <div class="yasmina-product-card__img w:100% pos:relative ov:hidden">
                  <div class="pet-product-card__image">
                    <a href="#" class="veda-image-cover d:block" css="--aspect-ratio: 3/4">
                      <img class="yasmina-product-card__image" src="{{ product.featured_image.src | img_url('400x')}}" alt="{{ product.title }}">
                    </a>
                  </div>
                  <div class="yasmina-product-card__add-content pos:absolute b:0 l:0 w:100% bgc:color-dark h:50px trf:translateY(50px) trs:all_0.3s ta:center lts:0.15px fw:600 fz:17px">
                    <a class="yasmina-product-card__add cur:pointer fz:17px pos:absolute td:none w:100% h:100% va:middle lh:50px t:50% l:50% trf:translate(-50%,-50%) c:color-light">{{content.add_to_cart_text}}</a>
                  </div>
                  <div class="yasmina-product-card__state pos:absolute t:5px l:5px d:flex">
                    {% if product.compare_at_price > product.price and content.sale.enable %}
                      <div class="yasmina-product-card__sale d:flex jc:center ai:center w:60px h:30px bgc:#219653 mr:5px bdrs:2px">
                        <p class="fz:16px pos:absolute z:10 fw:600 c:color-light">{{ content.sale.text }}</p>
                      </div>
                    {% endif %}
                  </div>
                  <div class="yasmina-product-card__status pos:absolute t:10px r:10px w:35px h:127px">
                    <div class="yasmina-product-card__icon-bg cur:pointer bgc:color-dark!|h c:color-light!|h" data-tooltip="Add to wishlist" data-tooltip-position="left" data-tooltip-active=false data-tooltip-text="Add to wishlist" data-tooltip-active-text="Remove from wishlist">
                      <i class="fal fa-heart"></i>
                    </div>
                    <div class="yasmina-product-card__icon-bg--hidden cur:pointer bgc:color-dark!|h c:color-light!|h" data-tooltip="Quick view" data-tooltip-text="Quick view" data-tooltip-position="left" data-tooltip-active=false >
                      <i class="fal fa-eye"></i>
                    </div>
                    <div class="yasmina-product-card__icon-bg--hidden cur:pointer bgc:color-dark!|h c:color-light!|h" data-tooltip="Compare to other products" data-tooltip-position="left" data-tooltip-active="false" data-tooltip-text="Add to compare" data-tooltip-active-text="Remove from compare">
                      <i class="fal fa-repeat"></i>
                    </div>
                  </div>
                </div>


                <div class="yasmina-product-card__content d:flex fld:column jc:center ai:center">
                  <div class="yasmina-product-card__brand c:color-gray5 mt:11px fz:14px">{{product.vendor}}</div>
                  <a class="yasmina-product-card__name fz:16px mt:15px c:color-dark" href="/pageproduct.html">{{product.title}}</a>
                  <a class="yasmina-product-card__price mt:14px" href="#">
                    <ins class="yasmina-product-card__cost fw:500 fz:15px c:color-primary td:none">${{ product.price }}</ins>
                    {% if product.compare_at_price > product.price %}
                      <del class="yasmina-product-card__cost--before fw:500 fz:15px c:#9E9E9E">${{ product.compare_at_price }}</del>
                    {% endif %}
                  </a>

                  <div class="yasmina-product-card__colors d:flex">
                    <script class="yasmina-product-card__options-json" type="application/json">{{ product.options_with_values | json_encode()}}</script>
                  </div>
                  <script class="yasmina-product-card__variants-json" type="application/json">{{ product.variants | json_encode()}}</script>

                </div>
              </div>
            </div>
          

{% endfor %}



          <div class="col-md-12 mb:140px">
            <div class="row row-cols-lg-{{ content.column.lg }} row-cols-md-3 row-cols-sm-2 row-cols-1" component="content">
              <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid_color-dark bgc:color-dark c:color-light cur:pointer mr:5px fw:600">1</div>
              <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid bgc:color-light c:color-dark cur:pointer mr:5px fw:600">2</div>
              <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid bgc:color-light c:color-dark cur:pointer mr:5px fw:600">3</div>
              <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid bgc:color-light c:color-dark cur:pointer mr:5px fw:600">4</div>
              <div class="w:50px h:50px d:flex ai:center jc:center fz:15px ff:font-secondary bd:1px_solid bgc:color-light c:color-dark cur:pointer mr:5px"><i class="fas fa-long-arrow-right"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 pl:40px shop-page2 d:none">
        <div class="row row-cols-lg-12 row-cols-md-12 row-cols-sm-12 row-cols-12 pr:90px" component="content">
          {% set collection = collections[content.collection] %}

          {% for product in collection.products | slice(0, 4) %}
          <div class="yasmina-product-card d:flex fld:row ai:center ta:center mb:15px pb:15px">
            <script class="yasmina-product-card__data" type="application/json">{{ product | json_encode()}}</script>
            <div class="yasmina-product-card__img miw:250px w:250px pos:relative ov:hidden">
              <div class="pet-product-card__image miw:250px w:250px">
                <a href="#" class="veda-image-cover d:block miw:250px w:250px" css="--aspect-ratio: 3/4">
                  <img class="yasmina-product-card__image" src="{{ product.featured_image.src | img_url('250x')}}" alt="{{ product.title }}">
                </a>
              </div>

              <div class="yasmina-product-card__state pos:absolute t:5px l:5px d:flex">
                {% if product.compare_at_price > product.price and content.sale.enable %}
                  <div class="yasmina-product-card__sale d:flex jc:center ai:center w:60px h:30px bgc:#219653 mr:5px bdrs:2px">
                    <p class="fz:16px pos:absolute z:10 fw:600 c:color-light">{{ content.sale.text}}</p>
                  </div>
                {% endif %}
              </div>
              <div class="yasmina-product-card__status pos:absolute t:10px r:10px w:35px h:127px">
                <div class="yasmina-product-card__icon-bg cur:pointer bgc:color-dark!|h c:color-light!|h" data-tooltip="Add to wishlist" data-tooltip-position="left" data-tooltip-active=true data-tooltip-text="Add to wishlist" data-tooltip-active-text="Remove from wishlist">
                  <i class="fal fa-heart"></i>
                </div>
                <div class="yasmina-product-card__icon-bg--hidden cur:pointer bgc:color-dark!|h c:color-light!|h" data-tooltip="Quick view" data-tooltip-text="Quick view" data-tooltip-position="left" data-tooltip-active=false >
                  <i class="fal fa-eye"></i>
                </div>
                <div class="yasmina-product-card__icon-bg--hidden cur:pointer bgc:color-dark!|h c:color-light!|h" data-tooltip="Compare to other products" data-tooltip-position="left" data-tooltip-active=false data-tooltip-text="Add to compare" data-tooltip-active-text="Remove from compare">
                  <i class="fal fa-repeat"></i>
                </div>
              </div>
            </div>


            <div class="yasmina-product-card__content d:flex fld:column jc:flex-start ai:flex-start h:100% pl:30px">
              <div class="yasmina-product-card__brand c:color-gray5 mt:11px fz:14px">{{product.vendor}}</div>
              <a class="yasmina-product-card__name fz:16px mt:15px c:color-dark" href="/pageproduct.html">{{product.title}}</a>
              <a class="yasmina-product-card__price mt:14px" href="#">
                <ins class="yasmina-product-card__cost fw:500 fz:15px c:color-primary td:none">${{ product.price }}</ins>
                {% if product.compare_at_price > product.price %}
                  <del class="yasmina-product-card__cost--before fw:500 fz:15px c:#9E9E9E">${{ product.compare_at_price }}</del>
                {% endif %}
              </a>

              <div class="yasmina-product-card__colors d:flex">
                <script class="yasmina-product-card__options-json" type="application/json">{{ product.options_with_values | json_encode()}}</script>
              </div>
              <script class="yasmina-product-card__variants-json" type="application/json">{{ product.variants | json_encode()}}</script>
              <div class="ff:font-secondary fw:300 fz:13px c:color-gray9 ta:left mt:20px">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et.
              </div>
              <div class="yasmina-product-card__add-content w:100% bgc:color-dark h:50px trs:all_0.3s ta:center lts:0.15px fw:600 fz:17px pos:relative mt:25px">
                <a class="yasmina-product-card__add cur:pointer fz:17px pos:absolute td:none va:middle lh:50px t:50% l:50% trf:translate(-50%,-50%) c:color-light c:color-light!|h whs:nowrap">ADD TO CART</a>
              </div>
            </div>
          </div>
          

{% endfor %}


        </div>

      </div>
      <div data-id="yasmina-filter" class="col-lg-3">
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
          <div class="product-box maw:330px w:100% h:auto bd:1px_solid_color-gray3 p:15px_20px_30px_20px">
            {#
              {% if item.type == "refine" %}
                <div class="product-box__refine mb:30px pos:relative">
                  <h2 class="product-box__title fz:20px fw:500 mb:15px ff:font-primary">Refine By</h2>
                  <div class="product-box__content">
                    {% for item in item.item %}
                      <div class="product-box__box-refine pos:relative d:inline-block bd:1px_solid_color-gray2 w:fit-content p:2px_25px_2px_5px cur:pointer c:color-gray4 ff:font-primary">
                        {{item.name}}
                        <i class="fal fa-times pos:absolute t:50% r:1% trf:translate(-50%,-50%) cur:pointer c:color-gray9 c:color-primary!|h"></i>
                      </div>
                    

{% endfor %}


                    <a class="c:color-dark pos:absolute t:5px r:0 ff:font-primary" href="#">Clear All</a>
                  </div>

                </div>
              {% endif %}
              #}
            
              <form action="{{ routes.search_url }}">
                <div class="product-box__search mb:15px">
                  <h2 class="product-box__title fz:20px fw:500 mb:15px ff:font-primary">Search</h2>
                  <div class="product-box__box-search d:flex ai:center pl:10px bd:1px_solid_color-gray2">
                    <button class="p:10px ml:-10px bd:1px_solid_color-light bd:1px_solid_color-light|h! bgc:color-light! c:color-gray9! bgc:color-light|h! c:color-gray9|h!" type="submit"><i class="fal fa-search cur:pointer"></i></button>
                    <input class="h:40px w:90% bd:none! o:none c:color-gray4 fz:15px c:color-gray4||placeholder fz:15px||placeholder" type="text"
                    placeholder="Search"
                    name="q"
                    value="{{ search.terms | escape }}"
                    />
                    <input type="hidden" name="type" value="product,page" />
                    <input type="hidden" name="options[unavailable_products]" value="hide" />
                    <input type="hidden" name="options[prefix]" value="last" />


                  </div>
                </div>

                </form>

                {% set searchParams %}
                    {% set pageUrlWithHost = content_for_header | split('"pageurl":"')| last | split('"')| first | replace('\/','/')| replace('%20',' ')| replace('\u0026','&')%}
                    {{ pageUrlWithHost | split("?")| last }}
                    {% endset %}
                {{ searchParams }}



                {% set filters = searchParams | split("&")%}
                {% for filter in filters %}
                {% set filterKey = filter | split("=")| first | url_decode | trim %}
                {% set filterValue = filter | split("=")| last | url_decode | trim %}
                
                  {% if filterKey == "filter.v.category" %}
                    {% set availability = filterValue %}
                  {% elseif filterKey == "filter.v.brand" %}
                    {% set availability = filterValue %}
                  {% elseif filterKey == "filter.v.availability" %}
                    {% set availability = filterValue %}
                  {% elseif filterKey == "filter.v.price.lte" %}
                    {% set lte = filterValue %}
                  {% elseif filterKey == "filter.v.price.gte" %}
                    {% set gte = filterValue %}
                  {% elseif filterKey == "filter.v.option.color" %}
                    {% set colors = colors ~  "," ~  filterValue | remove_first(",")%}
                  {% elseif filterKey == "filter.v.option.size" %}
                    {% set sizes = sizes ~  "," ~  filterValue | remove_first(",")%}
                  {% elseif filterKey == "sort_by" %}
                    {% set sort_by = filterValue %}
                
{% endif %}

                

{% endfor %}



                {% set my_collection = collections[content.collection] %}

                {% set collection_prs = my_collection.products %}
                {% set arr_price = collection_prs | map('price_min')| uniq | sort %}
                {% set min_price = arr_price | first %}
                {% set max_price = arr_price | last %}

                {% set tag_colors = 'red,white,green,blue,black,gray'%}
                {% set tag_sizes = 'XS,S,M,L,XL'%}
                <form id="filter_form" class="filter_form">
                  <div class="filter_field filter_by_availability">
                    <h2 class="product-box__title fz:20px fw:500 mb:8px ff:font-primary">Categories</h2>
                    <div>
                      <div class="d:flex fld:column">
                        {% for category in content.filter_categories %}
                          <div class="d:flex ai:center mb:9px pos:relative">
                            <div class="w:5px h:5px bgc:color-gray4 bdrs:50% mr:7px"></div>
                            <label class="fz:15px fw:400 c:color-gray9 cur:pointer ml:12px" for="{{category.id}}">{{category.value}}</label>
                            <input class="yasmina-filter-input-radio v:hidden" type="radio" id="{{category.id}}" name="filter.v.category" value="{{category.value}}" {% if category.checked %}
 checked {% endif %}
>
                            <div class="w:5px h:5px bgc:color-gray4 bdrs:50% mr:7px pos:absolute"></div>
                          </div>
                        

{% endfor %}


                      </div>
                    </div>
                  </div>
                  <div class="filter_field filter_by_price">
                    <h2 class="product-box__title fz:20px fw:500 mb:0px ff:font-primary mt:22px">Màu sắc</h2>
                    <div class="d:flex flw:wrap">
                      {% for color in content.filter_colors %}
                        <div class="yasmina-circle__active pos:relative d:inline-block w:50px h:50px bdrs:25px m:10px_6px_0px_6px cur:pointer p:4px bgcp:content-box bgc:{{color.color_code}}" style="background-color:{{color.color_code}}">
                            <label class="w:50px h:50px cur:pointer">
                                <input class="yasmina-filter-input-color v:hidden" type="radio" name="filter.v.option.color" value="{{ color.value }}" {% if color.checked %}
 checked {% endif %}
 />
                                <div class="w:50px h:50px pos:absolute t:0px l:0px bd:1px_solid_color-gray2 bdrs:25px"></div>
                            </label>
                        </div>
                      

{% endfor %}


                    </div>
                  </div>
                  <div class="filter_field filter_by_price">
                    <h2 class="product-box__title fz:20px mt:30px fw:500 mb:15px ff:font-primary">Size</h2>
                    <div class="d:flex mb:30px">
                      {% for size in content.filter_sizes %}
                        <div class="d:flex pos:relative ai:center jc:center w:40px h:40px mr:5px ta:center cur:pointer ff:font-primary fz:15px">
                            <label class="w:40px h:40px cur:pointer cur:pointer">
                                <input class="yasmina-filter-input-size pos:absolute v:hidden" type="radio" name="filter.v.option.size" value="{{ size.value }}" {% if size.checked %}
 checked {% endif %}
 />
                                <div class="pos:absolute w:100% h:100% bd:1px_solid_color-gray4"></div>
                                <span class="ta:center lh:40px fz:15px fw:400 c:color-gray9">{{ size.value }}</span>
                            </label>
                        </div>
                      

{% endfor %}


                    </div>
                  </div>
                <div class="filter_field filter_by_price">
                  <h2 class="product-box__title fz:20px fw:500 mb:15px ff:font-primary">Filter</h2>
                  <div class="veda-slider" data-options="{ min: {{ min_price }}, max: {{ max_price }} }">
                    <div class="veda-slider__thumb w:10px h:10px bgc:color-gray9" data-index="0"></div>
                    <div class="veda-slider__thumb w:10px h:10px bgc:color-gray9" data-index="1"></div>
                    <div class="veda-slider__track h:5px bgc:color-gray3"></div>
                    <div class="veda-slider__tracked h:5px bgc:color-gray9"></div>
                  </div>
                  <div class="d:flex mt:13px">
                    <div class="mr:10px">
                      <input class="w:100px h:30px lh:30px bd:1px_solid_color-gray3 bdrs:0px!" type="number" id="gte" name="filter.v.price.gte" value="16" min="{{ min_price }}" max="{{ max_price }}" >
                    </div>
                    <div>
                      <input class="w:100px h:30px lh:30px bd:1px_solid_color-gray3 bdrs:0px!"  type="number" id="lte" name="filter.v.price.lte" value="80" min="{{ min_price }}" max="{{ max_price }}">
                    </div>
                  </div>
                  <button class="mt:10px w:210px h:40px bgc:color-gray9 c:color-light bgc:color-gray9|h! c:color-light|h! bd:1px_solid_color-gray9 bd:1px_solid_color-gray9|h! bdrs:0px!">Filter</button>
                </div>

                <div class="filter_field filter_by_availability">
                  <h2 class="product-box__title fz:20px fw:500 mb:10px ff:font-primary mt:30px">Brand</h2>
                  <div>
                    <div class="d:flex fld:column">
                      {% for brand in content.filter_brands %}
                        <div class="d:flex ai:center mb:6px pos:relative">
                          <label class="fz:15px fw:400 c:color-gray9 cur:pointer ml:12px" for="{{brand.id}}">{{brand.value}}</label>
                          <input class="yasmina-filter-input-radio v:hidden" type="radio" id="{{brand.id}}" name="filter.v.brand" value="{{brand.value}}" {% if brand.checked %}
 checked {% endif %}
>
                          <div class="w:5px h:5px bgc:color-gray4 bdrs:50% mr:7px pos:absolute"></div>
                        </div>
                      

{% endfor %}


                    </div>
                  </div>
                </div>
                <div class="filter_field filter_by_availability">
                  <h2 class="product-box__title fz:20px fw:500 mt:26px mb:10px ff:font-primary">Availability</h2>
                  <div class="d:flex ai:center mb:10px pos:relative">
                    <label class="fz:15px fw:400 c:color-gray9 cur:pointer! ml:12px" for="in_stock">In Stock</label>
                    <input class="yasmina-filter-input-radio v:hidden" type="radio" id="in_stock" name="filter.v.availability" value="1" {% if content.availability == "1" %}checked{% endif %} >
                    <div class="w:5px h:5px bgc:color-gray4 bdrs:50% mr:7px pos:absolute"></div>
                  </div>
                  <div class="d:flex ai:center pos:relative">
                    <label class="fz:15px fw:400 c:color-gray9 cur:pointer! ml:12px" for="out_stock">Out stock</label>
                    <input class="yasmina-filter-input-radio v:hidden" type="radio" id="out_stock" name="filter.v.availability" value="0" {% if content.availability == "0" %}checked{% endif %}>
                    <div class="w:5px h:5px bgc:color-gray4 bdrs:50% mr:7px pos:absolute"></div>
                  </div>
                </div>
                <div class="filter_field filter_by_availability">
                  <h2 class="product-box__title fz:20px fw:500 mb:10px ff:font-primary mt:30px">Tags</h2>
                  <div>
                    <div class="d:flex flw:wrap">
                      {% for tag in content.filter_tags %}
                        <div class="d:flex pos:relative ai:center h:28px jc:center mr:5px ta:center cur:pointer ff:font-primary fz:15px p:2px_5px_2px_5px mb:10px">
                            <label class="w:100% h:28px cur:pointer cur:pointer d:flex jc:center">
                                <input class="yasmina-filter-input-size pos:absolute v:hidden" type="radio" name="filter.v.tag" value="{{ tag.value }}" {% if tag.checked %}
 checked {% endif %}
/>
                                <div class="pos:absolute w:100% h:100% bd:1px_solid_color-gray4"></div>
                                <span class="ta:center lh:28px fz:15px fw:400 c:color-gray9">{{ tag.value }}</span>
                            </label>
                        </div>
                      

{% endfor %}


                    </div>
                  </div>
                </div>
                <button type="submit">Apply</button>
              </form>
            

          </div>

        </div>
      </div>
    </div>
  </div>
</section>
