{% liquid
  if general_settings.background_fixed assign backgroundFixed = 'fixed' else assign backgroundFixed = 'scroll' endif
  if general_settings.background_type == 'color' assign backgroundColor = 'background-color: ' | append: general_settings.background_color | append: ';' else assign backgroundColor = '' endif
  if general_settings.background_type == 'image' assign backgroundImage = 'background-image: url(' | append: general_settings.background_image | append:
  ');background-attachment: ' | append: backgroundFixed | append: ';background-size: ' | append: general_settings.background_size | append: ';' else assign backgroundImage = '' endif
  assign sectionPadding = 'padding-top: ' | append: general_settings.padding.top | append: 'px;padding-right: ' | append: general_settings.padding.right | append: 'px;padding-bottom: ' | append: general_settings.padding.bottom | append: 'px;padding-left: ' | append: general_settings.padding.left | append: 'px;'
%}

<section data-id="features" class="veda-section" css="{{ backgroundColor }}{{ backgroundImage }}{{ sectionPadding }}">
  {% if general_settings.background_overlay_enable %}
    <div class="pos:absolute ins:0 z:-1" css="background-color: {{ general_settings.background_overlay_color }}"></div>
  {% endif %}
  <div class="container mb:20px">
    <h3 class="ff:font-primary ta:center mb:45px fz:40px fw:500" css="{{ heading.design }}">{{ heading.text }}</h3>
    <div class="row jc:center">
      {% for item in content %}
        <div class="col-xs-{{column.xs}} col-sm-{{column.sm}} col-md-{{column.md}} col-lg-{{column.lg}}">
          <div class="yasmina-trend mih:295px pos:relative ov:hidden" component="trending">
            <a class="d:block" href="#" >
              <img class="yasmina-trend__img w:100% h:100% t:0 l:0" src={{item.src_image | img_url: ''}} alt="trend">
            </a>
            {% if item.position == "left" %}
              <div class="yasmina-trend__content pos:absolute b:20% l:10% bgc:color-dark fw:600 fz:pfs(45px,35px) lh:65px p:10px_20px_10px_20px c:color-light">
                <div>{{item.label}}</div>
              </div>
            {% endif %}
            {% if item.position == "center" %}
              <div class="yasmina-trend__content pos:absolute t:50% l:50% trf:translate(-50%,-50%) w:max-content bgc:color-dark fw:600 fz:pfs(45px,35px) lh:65px p:10px_20px_10px_20px c:color-light">
                <div>{{item.label}}</div>
              </div>
            {% endif %}
            {% if item.position == "right" %}
              <div class="yasmina-trend__content pos:absolute t:20% r:10% bgc:color-dark fw:600 fz:pfs(45px,35px) lh:65px p:10px_20px_10px_20px c:color-light">
                <div>{{item.label}}</div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</section>
