
{% set uniqueId = "id_48e5c7cb-baf1-4414-8087-5ad901aaa3c8" %}
{% if general_settings.background_fixed %}
{% set backgroundFixed = 'fixed' %}
{% else %}
{% set backgroundFixed = 'scroll' %}
{% endif %}
{% if general_settings.background_type == 'color' %}
{% set backgroundColor = 'background-color: ' ~  general_settings.background_color ~  ';' %}
{% else %}
{% set backgroundColor = '' %}
{% endif %}
{% if general_settings.background_type == 'image' %}
{% set backgroundImage = 'background-image: url(' ~  general_settings.background_image ~  ');background-attachment: ' ~  backgroundFixed ~  ';background-size: ' ~  general_settings.background_size ~  ';' %}
{% else %}
{% set backgroundImage = '' %}
{% endif %}
{% set sectionPadding = 'padding-top: ' ~  general_settings.padding.top ~  'px;padding-right: ' ~  general_settings.padding.right ~  'px;padding-bottom: ' ~  general_settings.padding.bottom ~  'px;padding-left: ' ~  general_settings.padding.left ~  'px;' %}

<section data-id="features" class="veda-section" css="{{ backgroundColor }}{{ backgroundImage }}{{ sectionPadding }}">
  {% if general_settings.background_overlay_enable %}
    <div class="pos:absolute ins:0 z:-1" css="background-color: {{ general_settings.background_overlay_color }}"></div>
  {% endif %}
  <div class="container mb:20px">
    <h3 class="ff:font-primary ta:center mb:45px fz:40px fw:500" css="{{ heading.design }}">{{ heading.text }}</h3>
    <div class="row jc:center">
      {% for item in content %}
        <div class="col-xs-{{column.xs}} col-sm-{{column.sm}} col-md-{{column.md}} col-lg-{{column.lg}}">
          <div class="yasmina-trend pos:relative ov:hidden" component="trending">
            <a class="d:block w:100% ar:1.1 pos:relative" href="#" >
              <img class="yasmina-trend__img w:100% h:100%" src={{item.src_image | img_url('')}} alt="trend">
              {% if item.position == "left" %}
                <div class="yasmina-trend__content pos:absolute b:20% l:10% bgc:color-dark fw:600 fz:pfs(26px,45px) pt:pfs(3px,10px) pb:pfs(3px,10px) pl:pfs(10px,20px) pr:pfs(10px,20px) c:color-light">
                  {{item.label}}
                </div>
              {% endif %}
              {% if item.position == "center" %}
                <div class="yasmina-trend__content pos:absolute t:50% l:50% trf:translate(-50%,-50%) w:max-content bgc:color-dark fw:600 fz:pfs(26px,45px) lh:65px pt:pfs(3px,10px) pb:pfs(3px,10px) pl:pfs(10px,20px) pr:pfs(10px,20px) c:color-light">
                  {{item.label}}
                </div>
              {% endif %}
              {% if item.position == "right" %}
                <div class="yasmina-trend__content pos:absolute t:20% r:10% bgc:color-dark fw:600 fz:pfs(26px,45px) pt:pfs(3px,10px) pb:pfs(3px,10px) pl:pfs(10px,20px) pr:pfs(10px,20px) c:color-light">
                  {{item.label}}
                </div>
              {% endif %}
            </a>

          </div>
        </div>
      

{% endfor %}


    </div>

  </div>
</section>
